Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add uncommited mode
  README.md
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/git.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_git/src/git.rs
  packages/rust-core/crates/tscanner_git/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_types/src/enums.rs
  packages/rust-core/crates/tscanner_types/src/params.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  scripts/update-docs/update-quick-start.ts
  shared/tscanner-common/src/git-helper.ts
  shared/tscanner-common/src/types/enums.ts
  shared/tscanner-common/src/types/params.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: group cli help
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add severity filter
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/filters.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_types/src/results.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add kind filter
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/filters.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_types/src/results.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

docs: update cli commands table
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/scripts/generate_cli_json.rs
  scripts/update-docs/update-cli-usage.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add git watchers
  packages/vscode-extension/src/watchers/file/handler.ts
  packages/vscode-extension/src/watchers/file/modified-lines-filter.ts
  packages/vscode-extension/src/watchers/file/watch-pattern-builder.ts
  packages/vscode-extension/src/watchers/file/watcher.ts
  packages/vscode-extension/src/watchers/git/handler.ts
  packages/vscode-extension/src/watchers/git/watcher.ts
  packages/vscode-extension/src/watchers/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: remove modified lines filter function
  packages/vscode-extension/src/watchers/file/handler.ts
  packages/vscode-extension/src/watchers/file/modified-lines-filter.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: improve file delete handler logic
  packages/vscode-extension/src/watchers/file/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add support for boolean input list
  packages/github-action/dist/index.js
  shared/tscanner-common/src/cli-builder.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: file watcher
  packages/vscode-extension/src/watchers/file/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: file watch mode
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/watchers/file/handler.ts
  packages/vscode-extension/src/watchers/git/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: remove unused state key from extension store
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/watchers/file/handler.ts
  packages/vscode-extension/src/watchers/git/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update file handler to handle burst mode
  packages/vscode-extension/src/watchers/file/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: optimize file change handler logic
  packages/vscode-extension/src/watchers/file/handler.ts
  shared/tscanner-common/src/git-helper.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add cached info to summary
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/core/shared/sections.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli_output/src/formatted.rs
  packages/rust-core/crates/tscanner_cli_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_cli_output/src/types.rs
  packages/rust-core/crates/tscanner_types/src/cli_output.rs
  shared/tscanner-common/src/types/cli-output.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: update summary
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/core/shared/sections.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_cli_output/src/types.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update summary
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli_output/src/plain_text.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update summary
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_cli_output/src/types.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: cache issue
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add ai cache
  packages/rust-core/crates/tscanner_cache/src/ai_cache.rs
  packages/rust-core/crates/tscanner_cache/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/core.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add script rule cache
  packages/rust-core/crates/tscanner_cache/src/lib.rs
  packages/rust-core/crates/tscanner_cache/src/script_cache.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/core.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add ai script
  packages/rust-core/crates/tscanner_cache/src/ai_cache.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add github action caching support
  .github/workflows/prs.yml
  packages/github-action/README.md
  packages/github-action/action.yml
  packages/github-action/dist/index.js
  packages/github-action/package.json
  packages/github-action/src/core/cache-handler.ts
  packages/github-action/src/core/input-validator.ts
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: correct git-restore-mtime package name
  .github/workflows/prs.yml
  docs/cache-implementation.md
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: use dedicated github action for mtime restoration
  .github/workflows/prs.yml
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: simplify cache explanation
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: remove duplicate scan output in github action
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner-logger.ts
  packages/github-action/src/core/scanner/scanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: skip cache save when cache was restored
  packages/github-action/dist/index.js
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add branch isolation to cache key
  packages/github-action/dist/index.js
  packages/github-action/src/core/cache-handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: save cache when restored from fallback key
  packages/github-action/dist/index.js
  packages/github-action/src/core/cache-handler.ts
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: always save cache since branch isolation prevents conflicts
  packages/github-action/dist/index.js
  packages/github-action/src/core/cache-handler.ts
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove docs
  docs/cache-implementation.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

feat: add commit sha to cache key for incremental updates
  packages/github-action/dist/index.js
  packages/github-action/src/core/cache-handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ai rules
  .tscanner/ai-rules/find-magic-numbers.md
  .tscanner/config.jsonc
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: scan logs
  packages/vscode-extension/src/scanner/scan.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: logs
  packages/vscode-extension/src/common/state/workspace-state.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: debug ai rules
  .github/workflows/prs.yml
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: add ai rules debug logging
  .github/workflows/prs.yml
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: connect scanner to global logger
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_scanner/Cargo.toml
  packages/rust-core/crates/tscanner_scanner/src/scanner/core.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: add claude cli debug step
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
