Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: branch mode
  packages/core/crates/cli/src/commands/check/git.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: update configuration
  .tscanner/config.jsonc
Due: none

fix: different issues number on vscode extension
  packages/core/crates/cli/src/commands/check/git.rs
  packages/core/crates/core/src/git.rs
  packages/core/crates/core/src/lib.rs
  packages/core/crates/server/src/handlers/scan.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: add funding
  .github/FUNDING.yml
Due: none

refactor: extract duplicated functions
  packages/core/crates/cli/src/commands/check/filters.rs
  packages/core/crates/core/src/types.rs
  packages/core/crates/server/src/handlers/scan.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: remove unused code
  packages/cli/src/platform.ts
  packages/github-action/src/utils/pluralize.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: share constants between ts and rust
  .changeset/khaki-ends-punch.md
  assets/constants.json
  packages/cli/tsconfig.json
  packages/core/Cargo.lock
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/init/mod.rs
  packages/core/crates/cli/src/commands/rules/mod.rs
  packages/core/crates/cli/src/commands/rules/output.rs
  packages/core/crates/cli/src/config_loader.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/core/Cargo.toml
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/constants.rs
  packages/github-action/dist/index.js
  scripts/update-docs/index.ts
  shared/tscanner-common/src/constants.ts
  shared/tscanner-common/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

docs: update readme
  .changeset/chatty-schools-boil.md
  scripts/update-docs/update-motivation.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update readme
  .changeset/plenty-facts-sip.md
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

chore: update config
  .tscanner/config.jsonc
Due: none

chore: update generated assets paths
  assets/generated/cli.json
  assets/generated/rules.json
  packages/core/crates/cli/src/bin/generate_cli_json.rs
  packages/core/crates/core/src/bin/generate_rules_json.rs
  scripts/update-docs/update-cli-usage.ts
  scripts/update-docs/update-features-section.ts
  scripts/update-docs/update-overview.ts
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: add conditional check for environment variable
  packages/core/crates/cli/src/main.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: issues order
  packages/vscode-extension/src/issues-panel/panel-content.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: vscode extension code
  packages/vscode-extension/src/commands/internal/copy.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/panel-icon.ts
  packages/vscode-extension/src/issues-panel/utils/tree-items.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: vscode extension code p2
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy.ts
  packages/vscode-extension/src/commands/internal/navigation.ts
  packages/vscode-extension/src/commands/public/issue-navigation.ts
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/extension-state.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/panel-content.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: vscode extension code p3
  packages/github-action/dist/index.js
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy.ts
  packages/vscode-extension/src/commands/internal/view-mode.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/extension-state.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/panel-content.ts
  packages/vscode-extension/src/issues-panel/utils/tree-items.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add copy all issues command
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy-all.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: change issue view command
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/view-mode.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: copy all command
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy-all.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: github action comment
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: summary section
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/mod.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/shared/summary.rs
  packages/core/crates/core/src/config.rs
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: add check settings session
  .tscanner/config.jsonc
  README.md
  assets/default-config.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/mod.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/shared/summary.rs
  packages/core/crates/core/src/config.rs
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
  packages/vscode-extension/README.md
  shared/tscanner-common/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: update core
  .tscanner/config.jsonc
  README.md
  assets/default-config.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/shared/header.rs
  packages/core/crates/cli/src/shared/mod.rs
  packages/core/crates/cli/src/shared/summary.rs
  packages/core/crates/core/src/config.rs
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  shared/tscanner-common/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: summary
  .tscanner/config.jsonc
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/shared/summary.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: rust cli
  packages/core/crates/cli/src/commands/check/command.rs
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/json.rs
  packages/core/crates/cli/src/commands/check/output/mod.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/renderer.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/commands/init/command.rs
  packages/core/crates/cli/src/commands/init/mod.rs
  packages/core/crates/cli/src/commands/rules/command.rs
  packages/core/crates/cli/src/commands/rules/mod.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: rust code
  packages/core/crates/cli/src/commands/check/command.rs
  packages/core/crates/cli/src/commands/check/context.rs
  packages/core/crates/cli/src/commands/check/output/json.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/shared/header.rs
  packages/core/crates/core/src/output/types.rs
  packages/core/crates/core/src/rules/no_implicit_any.rs
  packages/core/crates/core/src/scanning/scanner.rs
  packages/core/crates/core/tests/spec_tests.rs
  packages/core/crates/server/src/compression.rs
  packages/core/crates/server/src/main.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: rust code
  packages/core/crates/server/src/lsp/code_actions.rs
  packages/core/crates/server/src/lsp/diagnostics.rs
  packages/core/crates/server/src/lsp/mod.rs
  packages/core/crates/server/src/lsp/notifications.rs
  packages/core/crates/server/src/lsp/server.rs
  packages/core/crates/server/src/lsp/state.rs
  packages/core/crates/server/src/lsp_server.rs
  packages/core/crates/server/src/main.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: rust code
  assets/constants.json
  packages/core/crates/core/src/constants.rs
  packages/core/crates/core/src/utils/disable_comments.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/core/crates/server/src/lsp/code_actions.rs
  packages/core/crates/server/src/lsp/notifications.rs
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/lsp-client.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: use constants.json values
  README.md
  packages/cli/README.md
  packages/cli/src/binary-resolver.ts
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/lib/copy-utils.ts
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-quick-start.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: update config editor
  .tscanner/config.jsonc
  README.md
  assets/default-config.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/core/src/config.rs
  packages/core/crates/server/src/lsp/diagnostics.rs
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/internal/copy-all.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/extension.ts
  shared/tscanner-common/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: update pr comment
  .tscanner/config.jsonc
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
  packages/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: tests
  packages/core/crates/core/tests/integration_glob_tests.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: update refresh mode
  packages/github-action/dist/index.js
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/internal/refresh.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
  shared/tscanner-common/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: split watchers
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: extension
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/scan-interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: rule names
  README.md
  assets/generated/rules.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/core/src/rules/mod.rs
  packages/core/crates/core/src/rules/no_console.rs
  packages/core/crates/core/src/rules/no_explicit_any.rs
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: add config command
  assets/generated/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/config/command.rs
  packages/core/crates/cli/src/commands/config/mod.rs
  packages/core/crates/cli/src/commands/mod.rs
  packages/core/crates/cli/src/commands/rules/command.rs
  packages/core/crates/cli/src/commands/rules/mod.rs
  packages/core/crates/cli/src/commands/rules/output.rs
  packages/core/crates/cli/src/commands/rules/types.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/github-action/action.yml
  scripts/update-docs/update-cli-usage.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: share config validation
  packages/core/crates/cli/src/commands/config/command.rs
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/lib.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *.{ts,tsx,js,jsx}
  sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty': any of: packages/core/**/*.rs
