Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["biome check --write --no-errors-on-unmatched"],
  "*.json": ["biome check --write --no-errors-on-unmatched"],
  "*": ["npx tsx ./packages/cli/src/main.ts check --staged"],
  "packages/rust-core/crates/**/*.rs": ["sh -c 'cd packages/rust-core && cargo fmt'"]
}

refactor: rename custom rule folders
  .tscanner/ai-rules/find-enum-candidates.md
  .tscanner/ai-rules/find-magic-numbers.md
  .tscanner/ai-rules/no-dead-code.md
  .tscanner/config.jsonc
  .tscanner/script-rules/action-zod-match.ts
  .tscanner/script-rules/config-schema-match.ts
  .tscanner/script-rules/no-long-files.ts
  .tscanner/script-rules/readme-toc-match.ts
  .tscanner/script-rules/rust-mod-simple.ts
  README.md
  assets/configs/full.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
  shared/tscanner-common/src/git-helper.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: copy issue
  .changeset/green-goats-tickle.md
  shared/tscanner-common/src/git-helper.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: add state logs
  packages/vscode-extension/src/common/state/extension-config.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: simplify config manager
  .tscanner/config.jsonc
  packages/vscode-extension/src/commands/internal/refresh.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/state/extension-state.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/watchers/ai-scan-interval-watcher.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  packages/vscode-extension/src/watchers/scan-interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update status bar
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: share path functions
  packages/vscode-extension/src/settings-menu/config-location.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: config rules
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: custom script rule
  .tscanner/script-rules/no-long-files.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: simplify extension
  packages/vscode-extension/src/commands/internal/refresh.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/state/extension-state.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/scanner/branch-scan.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/watchers/ai-scan-interval-watcher.ts
  packages/vscode-extension/src/watchers/index.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
  packages/vscode-extension/src/watchers/scan-interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: handle no workspace found
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/scanner/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: idagnostics
  packages/rust-core/crates/tscanner_lsp/src/handlers/diagnostics.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: simplify extension init
  packages/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: simplify config loader
  .changeset/thin-teams-write.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

refactor: update interval watcher config keys
  packages/vscode-extension/src/watchers/index.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: custom rules path
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/core.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: merge defaults
  assets/configs/default.json
  assets/constants.json
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_output/Cargo.toml
  packages/rust-core/crates/tscanner_output/src/plain_text.rs
  scripts/update-docs/update-config-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: config schema
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  assets/configs/minimal.json
  assets/constants.json
  assets/prompts/ai-rule-wrapper.prompt.md
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_rules/src/registry.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/scripts/generate_schema.rs
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add other severity
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  assets/constants.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_diagnostics/src/severity.rs
  packages/rust-core/crates/tscanner_lsp/src/converters.rs
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/format_results.rs
  packages/rust-core/crates/tscanner_output/src/formatted.rs
  packages/rust-core/crates/tscanner_output/src/lib.rs
  packages/rust-core/crates/tscanner_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_output/src/types.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/types.ts
  shared/tscanner-common/src/constants.ts
  shared/tscanner-common/src/schemas/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/utils/url-builder.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_config/src/validation.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/crates/tscanner_fs/src/git.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/utils.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/crates/tscanner_diagnostics/src/severity.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/helpers.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/mod.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan_content.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan_file.rs
  packages/rust-core/crates/tscanner_output/src/formatted.rs
  packages/rust-core/crates/tscanner_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_service/src/logger.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_cli/src/shared/mod.rs
  packages/rust-core/crates/tscanner_cli/src/shared/section.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_config/Cargo.toml
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_constants/Cargo.toml
  packages/rust-core/crates/tscanner_constants/src/lib.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_logger/Cargo.toml
  packages/rust-core/crates/tscanner_logger/src/lib.rs
  packages/rust-core/crates/tscanner_service/Cargo.toml
  packages/rust-core/crates/tscanner_service/src/lib.rs
  packages/rust-core/crates/tscanner_service/src/server.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_cli/src/shared/mod.rs
  packages/rust-core/crates/tscanner_cli_output/Cargo.toml
  packages/rust-core/crates/tscanner_cli_output/src/formatted.rs
  packages/rust-core/crates/tscanner_cli_output/src/lib.rs
  packages/rust-core/crates/tscanner_cli_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_cli_output/src/types.rs
  packages/rust-core/crates/tscanner_lsp/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/format_results.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/commands/check/git.rs
  packages/rust-core/crates/tscanner_fs/src/watcher.rs
  packages/rust-core/crates/tscanner_git/Cargo.toml
  packages/rust-core/crates/tscanner_git/src/git.rs
  packages/rust-core/crates/tscanner_git/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_scanner/Cargo.toml
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  packages/rust-core/crates/tscanner_rules/src/context.rs
  packages/rust-core/crates/tscanner_rules/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/builtin_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/parser.rs
  packages/rust-core/crates/tscanner_types/src/file_source.rs
  packages/rust-core/crates/tscanner_types/src/lib.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code p2
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/rust-core/crates/tscanner_cli/src/config_loader.rs
  packages/rust-core/crates/tscanner_cli_output/Cargo.toml
  packages/rust-core/crates/tscanner_cli_output/src/display.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/src/converters.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/helpers.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/notifications.rs
  packages/rust-core/crates/tscanner_lsp/src/session.rs
  packages/rust-core/crates/tscanner_scanner/Cargo.toml
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/claude.rs
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/gemini.rs
  packages/rust-core/crates/tscanner_scanner/src/disable_comments.rs
  packages/rust-core/crates/tscanner_scanner/src/lib.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code p3
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_rules/src/lib.rs
  packages/rust-core/crates/tscanner_rules/src/metadata.rs
  packages/rust-core/crates/tscanner_types/src/issue.rs
  packages/rust-core/crates/tscanner_types/src/lib.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rust code
  assets/constants.json
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_logger/src/lib.rs
  packages/vscode-extension/src/common/lib/logger.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: rust code
  README.md
  assets/constants.json
  assets/generated/cli.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/builtin_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/lsp/client.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: rust code
  assets/constants.json
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: simplify rust
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_rules/src/signals.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_types/src/issue.rs
  packages/rust-core/crates/tscanner_types/src/results.rs
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/issues-panel/views/ai-issues-view.ts
  packages/vscode-extension/src/issues-panel/views/regular-issues-view.ts
  packages/vscode-extension/src/scanner/utils.ts
  shared/tscanner-common/src/schemas/other.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update category enum
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_rules/src/metadata.rs
  packages/rust-core/crates/tscanner_rules/src/registry.rs
  packages/rust-core/scripts/generate_rules_json.rs
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rename type
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli_output/src/display.rs
  packages/rust-core/crates/tscanner_cli_output/src/formatted.rs
  packages/rust-core/crates/tscanner_cli_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_cli_output/src/types.rs
  packages/rust-core/crates/tscanner_rules/src/signals.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/builtin_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_types/src/issue.rs
  packages/rust-core/crates/tscanner_types/src/lib.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: issues
  .tscanner/config.jsonc
  packages/vscode-extension/src/issues-panel/components/tree-items.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: update schemas
  packages/cli/schema.json
  packages/rust-core/scripts/generate_schema.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: timeout issues
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/scripts/generate_schema.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'
