Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: script rule issues
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: warnings
  .changeset/curly-donkeys-run.md
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: custom path script error
  .changeset/beige-teams-mate.md
  packages/github-action/dist/index.js
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/helpers.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan_content.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan_file.rs
  packages/rust-core/crates/tscanner_lsp/src/session.rs
  packages/rust-core/crates/tscanner_service/Cargo.toml
  packages/rust-core/crates/tscanner_service/src/server.rs
  packages/rust-core/crates/tscanner_service/src/types.rs
  packages/vscode-extension/src/commands/internal/refresh.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/content-scan.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  shared/tscanner-common/src/schemas/other.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: extract duplicated logic
  packages/vscode-extension/src/locator/index.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/scanner/client.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: reorganize copy commands into a single function
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy-all.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add file change handler for handling file changes
  packages/vscode-extension/src/watchers/file-change-handler.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  packages/vscode-extension/src/watchers/modified-lines-filter.ts
  packages/vscode-extension/src/watchers/watch-pattern-builder.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: improve state management
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/refresh.ts
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/state/extension-state.ts
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/watchers/file-change-handler.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: share cli runner logic
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
  shared/tscanner-common/src/cli-builder.ts
  shared/tscanner-common/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add custom rule to match cli
  .tscanner/config.jsonc
  .tscanner/script-rules/cli-builder-match.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: update tooltip message in LineResultItem
  packages/vscode-extension/src/issues-panel/components/tree-items.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: update config
  README.md
  assets/constants.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/rust-core/crates/tscanner_service/src/server.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/icons/view-icon.ts
  packages/vscode-extension/src/locator/global-modules.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/locator/node-modules.ts
  packages/vscode-extension/src/locator/path.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/requests/clear-cache.ts
  packages/vscode-extension/src/lsp/requests/format-results.ts
  packages/vscode-extension/src/lsp/requests/get-rules-metadata.ts
  packages/vscode-extension/src/lsp/requests/scan-content.ts
  packages/vscode-extension/src/lsp/requests/scan-file.ts
  packages/vscode-extension/src/lsp/requests/scan.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  scripts/update-docs/update-config-section.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update constants
  assets/constants.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/vscode-extension/src/scanner/utils.ts
  scripts/update-docs/update-contributing.ts
  scripts/update-docs/update-rules.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update config
  assets/constants.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/src/server.rs
  packages/vscode-extension/src/lsp/client.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add no dead code
  .tscanner/config.jsonc
Due: npx tsx ./packages/cli/src/main.ts check --staged

refactor: update icons
  assets/constants.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add new rule
  .tscanner/config.jsonc
  .tscanner/script-rules/no-default-node-imports.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: node imports
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/lib/actions-helper.ts
  packages/github-action/src/utils/config-validator.ts
  packages/vscode-extension/esbuild.config.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  scripts/update-docs/update-cli-usage.ts
  scripts/update-docs/update-commands.ts
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-contributing.ts
  scripts/update-docs/update-features-section.ts
  scripts/update-docs/update-footer.ts
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-inspirations.ts
  scripts/update-docs/update-motivation.ts
  scripts/update-docs/update-overview.ts
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-rules.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: full config
  assets/configs/example-find-complexity.md
  assets/configs/example-no-debug-comments.ts
  assets/constants.json
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: configs
  README.md
  assets/configs/full.json
  assets/configs/minimal.json
  packages/cli/README.md
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: update timeouts configuration
  assets/constants.json
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/icons/view-icon.ts
  packages/vscode-extension/src/locator/global-modules.ts
  packages/vscode-extension/src/locator/path.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: update status bar
  assets/constants.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/views/ai-issues-view.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: implement enums
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-rules.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: split scan commands
  .tscanner/config.jsonc
  assets/constants.json
  packages/cli/schema.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
  shared/tscanner-common/src/schemas/config.ts
  shared/tscanner-common/src/schemas/other.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update configs
  .tscanner/config.jsonc
  assets/constants.json
  packages/cli/schema.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
  shared/tscanner-common/src/schemas/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: logger
  assets/constants.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_logger/src/lib.rs
  packages/vscode-extension/src/common/lib/logger.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: update full configs
  assets/configs/full.json
  packages/cli/schema.json
  packages/rust-core/scripts/generate_schema.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: default values
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/locator/binary-info.ts
  packages/vscode-extension/src/locator/index.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: status bar tooltip
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add scanning in status bar
  assets/constants.json
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: simplify config access in status bar and watchers
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/watch-pattern-builder.ts
  shared/tscanner-common/src/schemas/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: remove keybindings
  packages/vscode-extension/package.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: share common constant
  assets/constants.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/scanner/utils.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: improve error handling in lsp client
  packages/vscode-extension/src/lsp/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add script rule to compare configs
  .tscanner/config.jsonc
  .tscanner/script-rules/types-parity-match.ts
  packages/github-action/dist/index.js
  shared/tscanner-common/src/types/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: update triggered rules summary
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: optimize loop iteration in extractTsEnums
  .tscanner/script-rules/types-parity-match.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: update rule name
  .tscanner/config.jsonc
  .tscanner/script-rules/rust-entry-simple.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add hash function to cache content
  packages/rust-core/crates/tscanner_cache/src/hash.rs
  packages/rust-core/crates/tscanner_cache/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/lib.rs
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  packages/rust-core/crates/tscanner_constants/src/lib.rs
  packages/rust-core/crates/tscanner_logger/src/lib.rs
  packages/rust-core/crates/tscanner_logger/src/logger.rs
  packages/rust-core/crates/tscanner_service/src/factory.rs
  packages/rust-core/crates/tscanner_service/src/lib.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: logger
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/logger.ts
  packages/vscode-extension/src/common/lib/scan-helpers.ts
  packages/vscode-extension/src/common/state/extension-config.ts
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/file-change-handler.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
