Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: improve status bar tooltip with startup scan modes and compact version display
  .tscanner/config.jsonc
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update dependencies
  .changeset/ninety-zoos-play.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

feat: improve autoscan startup logic and use centralized defaults
  packages/github-action/dist/index.js
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: auto scan logic
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add clear scan caches command
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/public/clear-scan-caches.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ensure noCache flag clears all caches for AI scans
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: align cache creation patterns between CLI and LSP
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: ensure LSP server process exits on shutdown request
  packages/rust-core/crates/tscanner_lsp/src/server.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: resolve LSP version check race condition and git branch logging
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/watchers/git/watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: resolve LSP server version detection and improve git branch logging
  .tscanner/config.jsonc
  packages/rust-core/crates/tscanner_lsp/src/server.rs
  packages/vscode-extension/src/lsp/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: dev version
  .changeset/loose-crews-marry.md
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/version-checker.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  scripts/instal-local/install-local-vscode.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: version compatibility warning
  packages/cli/schema.json
  packages/rust-core/crates/tscanner_lsp/src/handlers/diagnostics.rs
  packages/rust-core/scripts/generate_schema.rs
  packages/vscode-extension/src/common/lib/version-compatibility.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: improve local CLI binary copy logic and error handling
  scripts/instal-local/install-local-cli.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update vscode extension docs
  docs/vscode-extension/01-overview.md
  docs/vscode-extension/02-vscode-concepts.md
  docs/vscode-extension/03-scan-modes.md
  docs/vscode-extension/04-rust-server-communication.md
  docs/vscode-extension/05-dev-vs-prod.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: remove docs
  docs/architecture.md
  docs/cli/01-overview.md
  docs/cli/02-binary-resolution.md
  docs/cli/03-platform-distribution.md
  docs/cli/04-dev-vs-prod.md
  docs/github-action/01-overview.md
  docs/github-action/02-pr-comment-system.md
  docs/github-action/03-dev-vs-prod.md
  docs/rust-core/01-overview.md
  docs/rust-core/02-rule-system.md
  docs/rust-core/03-scanner-flow.md
  docs/rust-core/04-caching.md
  docs/rust-core/05-server-protocol.md
  docs/rust-core/06-testing.md
  docs/rust-core/guides/adding-new-rule.md
  docs/rust-core/guides/debugging-rules.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: remove examples
  examples/all-rules/javascript.js
  examples/all-rules/typescript.ts
  examples/script-rule-docker-best-practices/Dockerfile
  examples/script-rule-docker-best-practices/config.jsonc
  examples/script-rule-docker-best-practices/dockerfile-check.py
  examples/script-rule-package-json-check/config.jsonc
  examples/script-rule-package-json-check/package-json-check.sh
  examples/script-rule-package-json-check/package.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update README tips to include links for complete config
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: simplify README by removing outdated sections and clarifying scanning options
  packages/vscode-extension/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: enhance TScanner report details in README for better clarity on code quality issues
  packages/vscode-extension/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add scan modes and status bar images to README for enhanced user guidance
  .github/image/tscanner-vscode-settings.png
  .github/image/tscanner-vscode-statusbar.png
  packages/vscode-extension/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

refactor: update examples
  README.md
  assets/configs/example-find-complexity.md
  assets/configs/example-find-enum-candidates.md
  assets/configs/example-no-long-files.ts
  assets/configs/full.json
  packages/cli/README.md
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

docs: add new regex rules for deprecated methods and process environment to README
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: remove deprecated rules and update regex patterns in README files across multiple packages
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update command formatting in README for consistency and clarity
  packages/vscode-extension/README.md
  scripts/update-docs/update-commands.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update GitHub Action demo image to reflect warnings found instead of issues
  .github/image/tscanner-pr-comment-issues-found.png
  .github/image/tscanner-pr-comment-warnings-found.png
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: enhance README files across multiple packages to clarify scanning options and improve feature descriptions
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-features-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: add new demo image for TScanner workflow to enhance visual guidance
  .github/image/tscanner-and-the-coding-workflow.png
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: update feature descriptions in README files to clarify scan modes and add clipboard export functionality
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-features-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: add workflow diagram and legend to README files for TScanner to improve user understanding of integration points
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update feature descriptions in README files to reflect new warning behavior and remove deprecated options
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-features-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: enhance README files across multiple packages to include a new section explaining the benefits of TScanner's workflow, emphasizing speed and code quality improvements
  .github/image/tscanner-and-the-coding-workflow.png
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: refine feature descriptions in README files to highlight live code issue detection, enhanced scanning capabilities, and streamlined configuration instructions
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update dependencies
  .changeset/cyan-moose-stare.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: update image file
  .github/image/tscanner-pr-comment-warnings-found.png
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: update README emphasizing the importance of keeping rules updated to minimize rejected PRs
  .github/image/tscanner-and-the-coding-workflow.png
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: warning issue
  packages/vscode-extension/src/common/lib/config-validator.ts
  packages/vscode-extension/src/common/lib/version-checker.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: schema generation
  .changeset/commit.js
  packages/cli/schema.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update readme upgrade instruction
  .changeset/clear-pants-grin.md
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/lib/config-validator.ts
  packages/vscode-extension/src/common/lib/version-checker.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: changeset commit
  .changeset/commit.js
  .github/workflows/push-to-main.yml
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove dead option
  packages/vscode-extension/src/common/lib/config-validator.ts
  packages/vscode-extension/src/common/lib/version-checker.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
