Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["biome format --write --no-errors-on-unmatched"],
  "*.json": ["biome format --write --no-errors-on-unmatched"],
  "packages/core/**/*.rs": ["sh -c 'cd packages/core && cargo fmt'"]
}

docs: add sharable motivation section
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome format --write --no-errors-on-unmatched

docs: add sharable gh action setup step
  README.md
  packages/github-action/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome format --write --no-errors-on-unmatched

docs: add also available as
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome format --write --no-errors-on-unmatched

fix: build error
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-commands.ts
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-contributing.ts
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-inspirations.ts
  scripts/update-docs/update-motivation.ts
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-rules.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome format --write --no-errors-on-unmatched

docs: update quick start section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome format --write --no-errors-on-unmatched

feat: add docs folder
  README.md
  docs/architecture.md
  docs/cli.md
  docs/core.md
  docs/github-action.md
  docs/vscode-extension.md
  packages/cli/README.md
  packages/core/README.md
  packages/vscode-extension/README.md
Due: none

docs: update motivation
  packages/core/README.md
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-motivation.ts
Due: biome format --write --no-errors-on-unmatched

docs: update features
  README.md
Due: none

docs: update cli readme
  packages/cli/README.md
Due: none

docs: update gh action readme
  packages/github-action/README.md
Due: none

docs: update vscode extension docs
  packages/vscode-extension/README.md
Due: none

docs: add dynamic features update
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-features-section.ts
  scripts/update-docs/update-motivation.ts
Due: biome format --write --no-errors-on-unmatched

docs: improve writing
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-images.ts
Due: biome format --write --no-errors-on-unmatched

docs: update internal packages readme
  shared/tscanner-common/README.md
Due: none

feat: add rust docs
  docs/core/01-overview.md
  docs/core/02-rule-system.md
  docs/core/03-scanner-flow.md
  docs/core/04-caching.md
  docs/core/05-server-protocol.md
  docs/core/06-testing.md
  docs/core/guides/adding-new-rule.md
  docs/core/guides/debugging-rules.md
Due: none

feat: add package docs
  docs/cli.md
  docs/cli/01-overview.md
  docs/cli/02-binary-resolution.md
  docs/cli/03-platform-distribution.md
  docs/cli/04-dev-vs-prod.md
  docs/core.md
  docs/github-action.md
  docs/github-action/01-overview.md
  docs/github-action/02-pr-comment-system.md
  docs/github-action/03-dev-vs-prod.md
  docs/vscode-extension.md
  docs/vscode-extension/01-overview.md
  docs/vscode-extension/02-vscode-concepts.md
  docs/vscode-extension/03-scan-modes.md
  docs/vscode-extension/04-rust-server-communication.md
  docs/vscode-extension/05-dev-vs-prod.md
Due: none

fix: build error
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-contributing.ts
  scripts/update-docs/update-inspirations.ts
  scripts/update-docs/update-motivation.ts
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

docs: update readme section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-contributing.ts
Due: biome format --write --no-errors-on-unmatched

chore: update readme
  .changeset/shaky-falcons-cheer.md
  .tscanner/config.jsonc
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
Due: biome format --write --no-errors-on-unmatched

docs: update footer
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-footer.ts
Due: biome format --write --no-errors-on-unmatched

feat: update cli description
  packages/core/crates/core/src/constants.rs
Due: sh -c 'cd packages/core && cargo fmt'

feat: add source path on rules json file
  README.md
  assets/rules.json
  packages/cli/README.md
  packages/core/crates/core/src/bin/generate_rules_json.rs
  packages/core/crates/core/src/rules/mod.rs
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

docs: update readme
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

docs: update readme
  README.md
  assets/rules.json
  packages/cli/README.md
  packages/core/crates/core/src/bin/generate_rules_json.rs
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

refactor: add getStatusBarName function
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write --no-errors-on-unmatched

fix: absolute config patterns
  .github/image/tscanner-pr-comment-errors-found.png
  .tscanner/config.jsonc
  packages/core/crates/cli/src/commands/check.rs
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/registry.rs
  packages/core/crates/core/src/scanner.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/core/crates/server/src/handlers/scan_file.rs
Due: sh -c 'cd packages/core && cargo fmt'

fix: false positive rules
  biome.json
  packages/core/crates/core/src/config.rs
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: glob pattern matching
  assets/rules.json
  docs/core/01-overview.md
  docs/core/03-scanner-flow.md
  docs/core/06-testing.md
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/scanner.rs
  packages/core/crates/core/tests/glob_tests.rs
  packages/core/crates/core/tests/integration_glob_tests.rs
  packages/core/package.json
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: prefer type over interfaces rule
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
Due: biome format --write --no-errors-on-unmatched

fix: no-constant-condition tscanner warnings
  packages/vscode-extension/src/settings-menu/config-location.ts
Due: biome format --write --no-errors-on-unmatched

feat: add quick actions to lsp
  packages/core/crates/server/src/lsp_server.rs
Due: sh -c 'cd packages/core && cargo fmt'

feat: add lsp config options
  .tscanner/config.jsonc
  packages/cli/schema.json
  packages/core/crates/core/src/config.rs
  packages/core/crates/server/src/lsp_server.rs
  packages/github-action/dist/index.js
  packages/vscode-extension/src/commands/internal/copy.ts
  packages/vscode-extension/src/common/lib/lsp-client.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/types.ts
  shared/tscanner-common/src/schemas.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: floating promise rule
  README.md
  assets/rules.json
  packages/cli/README.md
  packages/core/crates/core/src/rules/no_floating_promises.rs
  packages/core/crates/core/tests/specs/no-floating-promises/invalid.js
  packages/core/crates/core/tests/specs/no-floating-promises/invalid.js.snap
  packages/core/crates/core/tests/specs/no-floating-promises/invalid.ts
  packages/core/crates/core/tests/specs/no-floating-promises/invalid.ts.snap
  packages/core/crates/core/tests/specs/no-floating-promises/valid.js
  packages/core/crates/core/tests/specs/no-floating-promises/valid.js.snap
  packages/core/crates/core/tests/specs/no-floating-promises/valid.ts
  packages/core/crates/core/tests/specs/no-floating-promises/valid.ts.snap
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: add lsp
  .changeset/plenty-games-accept.md
Due: none

fix: schema generation
  .changeset/commit.js
  README.md
  assets/default-config.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/core/src/config.rs
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: add invalid config validation
  .tscanner/config.jsonc
  README.md
  assets/default-config.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/scanner.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/core/crates/server/src/handlers/scan_file.rs
  packages/core/crates/server/src/lsp_server.rs
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/lib/lsp-client.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/utils/logger.ts
  packages/vscode-extension/src/extension.ts
  scripts/update-docs/update-config-section.ts
  shared/tscanner-common/src/schemas.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

docs: update inspirations section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-inspirations.ts
Due: biome format --write --no-errors-on-unmatched
