Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: rust code
  packages/core/crates/core/src/config/mod.rs
  packages/core/crates/core/src/config/validation.rs
  packages/core/crates/server/src/handlers/common.rs
  packages/core/crates/server/src/handlers/mod.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/core/crates/server/src/handlers/scan_file.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: update rust code
  .tscanner/config.jsonc
  docs/plans/extract-config-validation.md
  packages/core/crates/core/src/rules/no_shadow.rs
  packages/core/crates/server/src/handlers/clear_cache.rs
  packages/core/crates/server/src/handlers/format_results.rs
  packages/core/crates/server/src/handlers/get_rules_metadata.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/core/crates/server/src/handlers/scan_file.rs
  packages/core/crates/server/src/handlers/watch.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: add logs
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add code editor configs
  .changeset/late-spiders-admire.md
Due: none

feat: add script rules
  .tscanner/config.jsonc
  .tscanner/scripts/action-zod-match.ts
  assets/generated/cli.json
  examples/script-rule-docker-best-practices/Dockerfile
  examples/script-rule-docker-best-practices/config.jsonc
  examples/script-rule-docker-best-practices/dockerfile-check.py
  examples/script-rule-package-json-check/config.jsonc
  examples/script-rule-package-json-check/package-json-check.sh
  examples/script-rule-package-json-check/package.json
  packages/cli/schema.json
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/crates/cli/src/commands/config/command.rs
  packages/core/crates/core/Cargo.toml
  packages/core/crates/core/src/config/mod.rs
  packages/core/crates/core/src/config/validation.rs
  packages/core/crates/core/src/lib.rs
  packages/core/crates/core/src/output/mod.rs
  packages/core/crates/core/src/output/types.rs
  packages/core/crates/core/src/scanning/mod.rs
  packages/core/crates/core/src/scanning/registry.rs
  packages/core/crates/core/src/scanning/scanner.rs
  packages/core/crates/core/src/scanning/script_executor.rs
  packages/core/crates/server/src/handlers/clear_cache.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/github-action/dist/index.js
  packages/github-action/src/core/input-validator.ts
  packages/github-action/src/index.ts
  packages/vscode-extension/src/common/lib/rust-client.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  shared/tscanner-common/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: add script rule for readme
  .tscanner/config.jsonc
  .tscanner/scripts/readme-toc-match.ts
  packages/core/crates/core/src/scanning/scanner.rs
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: add confgi mismatch script rule
  .tscanner/config.jsonc
  .tscanner/scripts/config-schema-match.ts
  assets/generated/rust_config_fields.json
  packages/core/crates/core/src/bin/generate_config_fields.rs
  packages/core/package.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: update toc rule
  .tscanner/scripts/readme-toc-match.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add rule to keep mod files simple
  .tscanner/config.jsonc
  .tscanner/scripts/rust-mod-simple.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: split scanning logic
  packages/core/crates/core/src/executors/ai_executor.rs
  packages/core/crates/core/src/executors/builtin_executor.rs
  packages/core/crates/core/src/executors/mod.rs
  packages/core/crates/core/src/executors/regex_executor.rs
  packages/core/crates/core/src/executors/script_executor.rs
  packages/core/crates/core/src/lib.rs
  packages/core/crates/core/src/rules/mod.rs
  packages/core/crates/core/src/scanning/mod.rs
  packages/core/crates/core/src/scanning/registry.rs
  packages/core/crates/core/src/scanning/scanner.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: turbo configs
  turbo.jsonc
Due: none

fix: tests
  packages/core/package.json
Due: biome check --write --no-errors-on-unmatched

chore: update generators scripts
  README.md
  assets/generated/rules.json
  packages/cli/README.md
  packages/core/Cargo.lock
  packages/core/crates/cli/Cargo.toml
  packages/core/crates/cli/src/bin/generate_schema.rs
  packages/core/crates/tscanner_config/Cargo.toml
  packages/core/crates/tscanner_config/src/bin/generate_config_fields.rs
  packages/core/crates/tscanner_rules/Cargo.toml
  packages/core/crates/tscanner_rules/src/bin/generate_rules_json.rs
  packages/core/package.json
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: reorganize executor modules
  packages/core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/core/crates/tscanner_scanner/src/executors/builtin_executor.rs
  packages/core/crates/tscanner_scanner/src/executors/mod.rs
  packages/core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/core/crates/tscanner_scanner/src/lib.rs
  packages/core/crates/tscanner_scanner/src/scanner.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: use constants value
  packages/core/crates/tscanner_config/src/defaults.rs
  packages/core/crates/tscanner_config/src/lib.rs
  packages/core/crates/tscanner_lsp/src/handlers/code_actions.rs
  packages/core/crates/tscanner_scanner/src/disable_comments.rs
  packages/core/crates/tscanner_scanner/src/lib.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: split scan
  .tscanner/config.jsonc
  packages/core/Cargo.lock
  packages/core/crates/cli/src/commands/check/command.rs
  packages/core/crates/tscanner_rpc/src/handlers/scan.rs
  packages/core/crates/tscanner_scanner/Cargo.toml
  packages/core/crates/tscanner_scanner/src/lib.rs
  packages/core/crates/tscanner_scanner/src/scanner.rs
  packages/core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/core/crates/tscanner_scanner/src/scanner/mod.rs
  packages/core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/core/crates/tscanner_scanner/src/scanner/staged.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: include for custom rules
  .tscanner/config.jsonc
  packages/core/crates/tscanner_config/src/loader.rs
  packages/core/crates/tscanner_config/src/types.rs
  packages/core/crates/tscanner_rules/src/executors/regex.rs
  packages/core/crates/tscanner_rules/src/registry.rs
  packages/core/crates/tscanner_rules/src/traits.rs
  packages/core/crates/tscanner_scanner/src/executors/builtin_executor.rs
  packages/core/crates/tscanner_scanner/src/scanner/mod.rs
  packages/core/crates/tscanner_scanner/src/scanner/shared.rs
Due: sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: rename crates
  docs/cli/03-platform-distribution.md
  docs/core/05-server-protocol.md
  docs/plans/extract-config-validation.md
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/crates/tscanner_cli/Cargo.toml
  packages/core/crates/tscanner_cli/src/bin/generate_cli_json.rs
  packages/core/crates/tscanner_cli/src/bin/generate_schema.rs
  packages/core/crates/tscanner_cli/src/commands/check/command.rs
  packages/core/crates/tscanner_cli/src/commands/check/context.rs
  packages/core/crates/tscanner_cli/src/commands/check/filters.rs
  packages/core/crates/tscanner_cli/src/commands/check/git.rs
  packages/core/crates/tscanner_cli/src/commands/check/mod.rs
  packages/core/crates/tscanner_cli/src/commands/check/output/json.rs
  packages/core/crates/tscanner_cli/src/commands/check/output/mod.rs
  packages/core/crates/tscanner_cli/src/commands/check/output/pretty.rs
  packages/core/crates/tscanner_cli/src/commands/check/output/renderer.rs
  packages/core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/core/crates/tscanner_cli/src/commands/config/command.rs
  packages/core/crates/tscanner_cli/src/commands/config/mod.rs
  packages/core/crates/tscanner_cli/src/commands/init/command.rs
  packages/core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/core/crates/tscanner_cli/src/commands/init/mod.rs
  packages/core/crates/tscanner_cli/src/commands/mod.rs
  packages/core/crates/tscanner_cli/src/config_loader.rs
  packages/core/crates/tscanner_cli/src/lib.rs
  packages/core/crates/tscanner_cli/src/main.rs
  packages/core/crates/tscanner_cli/src/shared/header.rs
  packages/core/crates/tscanner_cli/src/shared/mod.rs
  packages/core/crates/tscanner_cli/src/shared/summary.rs
  packages/core/crates/tscanner_cli/src/shared/types.rs
  packages/core/crates/tscanner_server/Cargo.toml
  packages/core/crates/tscanner_server/src/main.rs
  packages/core/package.json
Due: biome check --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: add logs to identify issue
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: gh action error
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: test mode rule
  .lintstagedrc.json
  .tscanner/config.jsonc
Due: biome check --write --no-errors-on-unmatched

refactor: simplify rust mod
  packages/rust-core/crates/tscanner_scanner/src/scanner/core.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/mod.rs
Due: none

refactor: deprecated rust method
  packages/rust-core/crates/tscanner_lsp/src/server.rs
Due: none

refactor: lsp requests
  packages/vscode-extension/src/common/lib/copy-utils.ts
  packages/vscode-extension/src/common/lib/extension-state.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/index.ts
  packages/vscode-extension/src/lsp/requests/clear-cache.ts
  packages/vscode-extension/src/lsp/requests/format-results.ts
  packages/vscode-extension/src/lsp/requests/get-rules-metadata.ts
  packages/vscode-extension/src/lsp/requests/index.ts
  packages/vscode-extension/src/lsp/requests/scan-content.ts
  packages/vscode-extension/src/lsp/requests/scan-file.ts
  packages/vscode-extension/src/lsp/requests/scan.ts
  packages/vscode-extension/src/lsp/requests/types.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: scanner folder
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/scanner/branch-scan.ts
  packages/vscode-extension/src/scanner/client.ts
  packages/vscode-extension/src/scanner/codebase-scan.ts
  packages/vscode-extension/src/scanner/content-scan.ts
  packages/vscode-extension/src/scanner/file-scan.ts
  packages/vscode-extension/src/scanner/index.ts
  packages/vscode-extension/src/scanner/utils.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: state files
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/state/extension-state.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  packages/vscode-extension/src/watchers/scan-interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: remove unnecessary file
  packages/vscode-extension/src/common/utils/issue-comparator.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: vscode configs
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/commands/public/issue-navigation.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/commands/public/show-logs.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/extension-helper.ts
  packages/vscode-extension/src/common/lib/git-helper.ts
  packages/vscode-extension/src/common/lib/logger.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/panel-content.ts
  packages/vscode-extension/src/issues-panel/utils/tree-builder.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/branch-scan.ts
  packages/vscode-extension/src/scanner/client.ts
  packages/vscode-extension/src/scanner/codebase-scan.ts
  packages/vscode-extension/src/scanner/content-scan.ts
  packages/vscode-extension/src/scanner/file-scan.ts
  packages/vscode-extension/src/scanner/utils.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  packages/vscode-extension/src/watchers/scan-interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: reorganize status bar text update logic
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: reorganize menu items in open settings menu
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: remove git diff cache
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/common/lib/git-helper.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: extract execGit function
  packages/vscode-extension/src/common/lib/git-helper.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: git helper
  biome.json
  packages/github-action/dist/index.js
  packages/github-action/src/index.ts
  packages/github-action/src/lib/git-helper.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/git-helper.ts
  packages/vscode-extension/src/common/lib/vscode-git.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
  shared/tscanner-common/src/git-helper.ts
  shared/tscanner-common/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: forwarded exports
  .tscanner/config.jsonc
  .tscanner/scripts/action-zod-match.ts
  .tscanner/scripts/config-schema-match.ts
  .tscanner/scripts/readme-toc-match.ts
  .tscanner/scripts/rust-mod-simple.ts
  packages/github-action/dist/index.js
  packages/github-action/src/index.ts
  packages/github-action/src/lib/git-helper.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
  packages/vscode-extension/src/commands/internal/view-mode.ts
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
  packages/vscode-extension/src/common/lib/git-helper.ts
  packages/vscode-extension/src/common/lib/vscode-git.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/state/extension-state.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/index.ts
  packages/vscode-extension/src/lsp/requests/get-rules-metadata.ts
  packages/vscode-extension/src/lsp/requests/index.ts
  packages/vscode-extension/src/lsp/requests/types.ts
  packages/vscode-extension/src/scanner/client.ts
  packages/vscode-extension/src/scanner/index.ts
  packages/vscode-extension/src/scanner/utils.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/watchers/file-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: tscanner issues
  packages/vscode-extension/src/common/lib/vscode-git.ts
  packages/vscode-extension/src/scanner/branch-scan.ts
  packages/vscode-extension/src/scanner/codebase-scan.ts
  packages/vscode-extension/src/scanner/content-scan.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *.{ts,tsx,js,jsx}
  sh -c 'cd packages/core && cargo fmt && cargo clippy --fix --allow-dirty': any of: packages/core/**/*.rs
