Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: share default schema
  .changeset/commit.js
  .tscanner/config.jsonc
  assets/default-config.json
  packages/core/crates/cli/src/commands/init.rs
  packages/core/crates/core/src/config.rs
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/tsconfig.json
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

chore: update image
  .changeset/hip-planes-open.md
  .github/image/tscanner-pr-comment-errors-found.png
  .github/image/tscanner-pr-comment-issues-found.png
  README.md
  packages/github-action/README.md
Due: none

ci: update pipeline
  .github/workflows/callable-ci.yml
  .github/workflows/push-to-main.yml
Due: none

chore: update job
  .github/workflows/prs.yml
Due: none

fix: lint error
  .changeset/commit.js
  .changeset/slick-rice-sing.md
Due: biome format --write --no-errors-on-unmatched

refactor: merge rust and ts ci steps
  .github/actions/setup-and-install/action.yml
  .github/workflows/callable-ci.yml
  packages/core/package.json
Due: biome format --write --no-errors-on-unmatched

refactor: extract ci error
  .github/workflows/callable-ci.yml
  scripts/check-version-bump.sh
Due: none

fix: npm package deploy
  scripts/cli-publisher.sh
Due: none

refactor: update displayname
  packages/vscode-extension/package.json
Due: biome format --write --no-errors-on-unmatched

chore: simplify ci
  .changeset/clear-cobras-boil.md
  .github/actions/release-github-action/action.yml
  .github/actions/release-npm/action.yml
  .github/actions/release-vscode/action.yml
  .github/workflows/push-to-main.yml
Due: none

chore: add new scripts for publishing
  scripts/cli-publisher.sh
  scripts/create-release-tag.sh
  scripts/publish-github-action.sh
  scripts/vscode-publisher.sh
Due: none

fix: publish error
  .changeset/chilly-apes-end.md
  .github/workflows/push-to-main.yml
Due: none

fix: publish error
  .changeset/dark-grapes-see.md
  scripts/vscode-publisher.sh
Due: none

feat: add shared package
  packages/cli/package.json
  packages/cli/src/binary-resolver.ts
  packages/cli/src/main.ts
  packages/cli/tsconfig.json
  packages/github-action/dist/index.js
  packages/github-action/package.json
  packages/github-action/src/constants.ts
  packages/github-action/src/core/cli-executor.ts
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/input-validator.ts
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/index.ts
  packages/github-action/src/utils/config-validator.ts
  packages/github-action/tsconfig.json
  packages/vscode-extension/package.json
  packages/vscode-extension/scripts/install-local.ts
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  packages/vscode-extension/src/common/types.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/tscanner-common/package.json
  shared/tscanner-common/src/constants.ts
  shared/tscanner-common/src/index.ts
  shared/tscanner-common/src/schemas.ts
  shared/tscanner-common/src/utils.ts
  shared/tscanner-common/tsconfig.json
  shared/tscanner-common/tsup.config.ts
Due: biome format --write --no-errors-on-unmatched

docs: update project description
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/github-action/action.yml
  packages/github-action/package.json
  packages/vscode-extension/package.json
Due: biome format --write --no-errors-on-unmatched

fix: ci error
  packages/cli/src/main.ts
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/index.ts
  packages/vscode-extension/src/extension.ts
  shared/tscanner-common/src/constants.ts
Due: biome format --write --no-errors-on-unmatched

chore: update dependencies
  packages/cli/package.json
  packages/github-action/dist/index.js
Due: biome format --write --no-errors-on-unmatched

chore: update dependencies
  packages/vscode-extension/esbuild.config.ts
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

fix: ci error
  packages/github-action/src/index.ts
  packages/github-action/src/lib/git-helper.ts
Due: biome format --write --no-errors-on-unmatched

chore: clean turbo config
  package.json
  packages/github-action/dist/index.js
  packages/github-action/package.json
  pnpm-lock.yaml
  turbo.jsonc
Due: biome format --write --no-errors-on-unmatched

refactor: update readme icons
  .github/image/tscanner-pr-comment-issues-found.png
  README.md
  packages/cli/LICENSE
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

chore: update README.md with simplified descriptions
  README.md
Due: none

chore: update package README files
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

chore: update turbo.jsonc
  turbo.jsonc
Due: none

chore: update dependencies
  .changeset/dirty-chicken-joke.md
Due: none

refactor: improve commit message formatting in comment updater
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
Due: biome format --write --no-errors-on-unmatched

feat: update gh action bundler
  packages/github-action/dist/index.js
  packages/github-action/package.json
  packages/github-action/tsup.config.ts
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

chore: update dependencies
  .changeset/silver-insects-rest.md
  .github/actions/setup-and-install/action.yml
Due: none

docs: compress images
  .github/image/tscanner-cli-demo.png
  .github/image/tscanner-pr-comment-issues-found.png
  .github/image/tscanner-pr-comment-no-issues.png
  .github/image/tscanner-vscode-demo.png
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

docs: update notes section
  .github/actions/release-npm/action.yml
  .github/actions/release-vscode/action.yml
  scripts/publish-github-action.sh
  scripts/publish-npm-package.sh
  scripts/publish-vscode-extension.sh
Due: none

fix: images
  .changeset/puny-clowns-thank.md
  packages/github-action/README.md
  scripts/publish-github-action.sh
Due: none

feat: publish to vsx registry
  .changeset/major-schools-bet.md
  .github/actions/release-vscode/action.yml
  .github/workflows/push-to-main.yml
  packages/vscode-extension/README.md
  scripts/publish-vscode-extension.sh
Due: none

refactor: simplify vscode publishing workflow
  .github/actions/release-vscode/action.yml
  .github/workflows/push-to-main.yml
Due: none

feat: add support for cursor
  README.md
  packages/cli/README.md
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

docs: update readme
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

fix: cache path
  packages/core/Cargo.lock
  packages/core/crates/cli/Cargo.toml
  packages/core/crates/cli/src/commands/check.rs
  packages/core/crates/cli/src/config_loader.rs
  packages/core/crates/core/Cargo.toml
  packages/core/crates/core/src/cache.rs
  packages/core/crates/core/src/constants.rs
  packages/vscode-extension/scripts/install-local.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: other os support errors
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/utils/git-helper.ts
  packages/vscode-extension/src/sidebar/tree-items.ts
Due: biome format --write --no-errors-on-unmatched

chore: update readme
  packages/cli/README.md
  packages/github-action/README.md
Due: none

chore: update dependencies
  .changeset/tired-worlds-start.md
Due: none

refactor: improve code
  packages/vscode-extension/scripts/install-local.ts
Due: biome format --write --no-errors-on-unmatched

Path conditions:
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  sh -c 'cd packages/core && cargo fmt': any of: packages/core/**/*.rs
