Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: reuse constant
  packages/vscode-extension/src/locator/install-prompt.ts
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: permission issue
  packages/cli/src/binary-resolver.ts
  packages/github-action/dist/index.js
  packages/vscode-extension/src/common/lib/binary-utils.ts
  packages/vscode-extension/src/lsp/client.ts
  shared/tscanner-common/src/utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: permission issue on cli
  .changeset/wicked-doors-drum.md
  .github/actions/release-npm/action.yml
  scripts/release/generate-cli-packages.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update readme
  .github/image/tscanner-and-the-coding-workflow.png
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-motivation.ts
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update CLI update commands to use update/upgrade instead of install
  .changeset/tender-teams-take.md
  packages/vscode-extension/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: update CLI update commands to use update/upgrade instead of install
  .changeset/tender-teams-take.md
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: touch version files on release to force cargo rebuild
  .changeset/commit.js
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update config version
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat(vscode): add schema version mismatch warning in status bar
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix(schema): add additionalProperties false to reject unknown config fields
  packages/cli/schema.json
  packages/rust-core/scripts/generate_schema.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: update ai rules config
  .tscanner/ai-rules/find-enum-candidates.md
  .tscanner/ai-rules/no-dead-code.md
  .tscanner/config.jsonc
  assets/prompts/ai-rule-wrapper.prompt.md
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add ai rule validation
  packages/rust-core/crates/tscanner_config/src/ai_rules_validator.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: export script rule types
  .tscanner/config.jsonc
  .tscanner/script-rules/action-zod-match.ts
  .tscanner/script-rules/cli-builder-match.ts
  .tscanner/script-rules/config-schema-match.ts
  .tscanner/script-rules/no-default-node-imports.ts
  .tscanner/script-rules/no-long-files.ts
  .tscanner/script-rules/readme-toc-match.ts
  .tscanner/script-rules/rust-entry-simple.ts
  .tscanner/script-rules/types-parity-match.ts
  packages/cli/package.json
  packages/cli/src/types.ts
  packages/cli/tsup.config.ts
  packages/github-action/dist/index.js
  shared/tscanner-common/src/types/index.ts
  shared/tscanner-common/src/types/script-rule.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: export util script rule functions
  .tscanner/script-rules/action-zod-match.ts
  .tscanner/script-rules/cli-builder-match.ts
  .tscanner/script-rules/config-schema-match.ts
  .tscanner/script-rules/no-default-node-imports.ts
  .tscanner/script-rules/no-long-files.ts
  .tscanner/script-rules/readme-toc-match.ts
  .tscanner/script-rules/rust-entry-simple.ts
  .tscanner/script-rules/types-parity-match.ts
  packages/cli/src/types.ts
  packages/github-action/dist/index.js
  shared/tscanner-common/src/script-rule.ts
  shared/tscanner-common/src/types/index.ts
  shared/tscanner-common/src/types/script-rule.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add registry
  assets/constants.json
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/dist/index.js
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/rule/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/rule/config_updater.rs
  packages/rust-core/crates/tscanner_cli/src/commands/rule/installer.rs
  packages/rust-core/crates/tscanner_cli/src/commands/rule/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/rule/registry.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  registry/ai-rules/find-enum-candidates/config.jsonc
  registry/ai-rules/find-enum-candidates/prompt.md
  registry/index.json
  registry/regex-rules/no-process-env/config.jsonc
  registry/script-rules/no-long-files/config.jsonc
  registry/script-rules/no-long-files/script.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: rename register command
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/config_updater.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/fetcher.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/installer.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/mod.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  turbo.jsonc
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add python and rust script rules to registry
  registry/index.json
  registry/script-rules/no-empty-files/config.jsonc
  registry/script-rules/no-empty-files/script.py
  registry/script-rules/no-fixme-comments/config.jsonc
  registry/script-rules/no-fixme-comments/script.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update dependencies
  packages/rust-core/crates/tscanner_cli/src/commands/registry/command.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: update configuration
  packages/rust-core/crates/tscanner_cli/src/commands/registry/config_updater.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/fetcher.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: update rule selector
  packages/rust-core/crates/tscanner_cli/src/commands/registry/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/config_updater.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

docs: update readme
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-features-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update README files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-features-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update README files in packages
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update documentation links in README files
  README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update github-action README image link
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: update README files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update README.md files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update documentation files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update markdown files in packages and root directory
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update documentation
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update dependencies
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-registry.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update readme files
  .tscanner/script-rules/readme-toc-match.ts
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update README.md files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update documentation files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update registry location
  .changeset/kind-groups-stop.md
  assets/constants.json
  packages/github-action/dist/index.js
  turbo.jsonc
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update scripts
  .tscanner/script-rules/action-zod-match.ts
  .tscanner/script-rules/cli-builder-match.ts
  .tscanner/script-rules/config-schema-match.ts
  .tscanner/script-rules/no-default-node-imports.ts
  .tscanner/script-rules/no-long-files.ts
  .tscanner/script-rules/readme-toc-match.ts
  .tscanner/script-rules/rust-entry-simple.ts
  .tscanner/script-rules/types-parity-match.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update registry
  assets/constants.json
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/fetcher.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_constants/src/constants.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: simplify created tags
  .github/actions/release-vscode/action.yml
  scripts/release/create-release-tag.sh
  scripts/release/publish-github-action.sh
  scripts/release/publish-npm-package.sh
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: use new script pattern
  registry/script-rules/no-long-files/script.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update docs
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
