Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["biome format --write --no-errors-on-unmatched"],
  "*.json": ["biome format --write --no-errors-on-unmatched"],
  "packages/core/**/*.rs": ["sh -c 'cd packages/core && cargo fmt'"]
}

feat: add no forwarded export rule
  .tscanner/config.jsonc
  packages/core/crates/core/src/rules/mod.rs
  packages/core/crates/core/src/rules/no_forwarded_exports.rs
Due: sh -c 'cd packages/core && cargo fmt'

fix: no implicity any rule
  packages/core/crates/core/src/rules/no_implicit_any.rs
Due: sh -c 'cd packages/core && cargo fmt'

feat: add new rules
  packages/core/crates/core/src/rules/max_params.rs
  packages/core/crates/core/src/rules/mod.rs
  packages/core/crates/core/src/rules/no_async_without_await.rs
  packages/core/crates/core/src/rules/no_default_export.rs
  packages/core/crates/core/src/rules/no_else_return.rs
  packages/core/crates/core/src/rules/no_empty_interface.rs
  packages/core/crates/core/src/rules/no_floating_promises.rs
  packages/core/crates/core/src/rules/no_inferrable_types.rs
  packages/core/crates/core/src/rules/no_non_null_assertion.rs
  packages/core/crates/core/src/rules/no_return_await.rs
  packages/core/crates/core/src/rules/no_shadow.rs
  packages/core/crates/core/src/rules/no_single_or_array_union.rs
  packages/core/crates/core/src/rules/no_unnecessary_type_assertion.rs
  packages/core/crates/core/src/rules/no_useless_catch.rs
  packages/core/crates/core/src/rules/prefer_nullish_coalescing.rs
  packages/core/crates/core/src/rules/prefer_optional_chain.rs
Due: sh -c 'cd packages/core && cargo fmt'

feat: update rules automatically
  .tscanner/config.jsonc
  README.md
  assets/rules.json
  package.json
  packages/cli/README.md
  packages/core/README.md
  packages/core/crates/core/src/bin/generate_rules_json.rs
  packages/core/package.json
  packages/github-action/README.md
  packages/vscode-extension/README.md
  pnpm-lock.yaml
  scripts/update-rules-readme.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

chore: update dependencies
  .changeset/flat-hoops-carry.md
Due: none

feat: update local setup
  .github/actions/release-npm/action.yml
  package.json
  packages/cli/package.json
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  scripts/generate-cli-packages.ts
  scripts/install-local-cli.ts
  scripts/install-local-vscode.ts
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched

fix: turbo repo cache invalidation
  turbo.jsonc
Due: none

docs: update readme
  README.md
  package.json
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-dynamic-fields-in-docs.ts
  scripts/update-rules-readme.ts
Due: biome format --write --no-errors-on-unmatched

refactor: organize commands folder
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy.ts
  packages/vscode-extension/src/commands/internal/manage-rules.ts
  packages/vscode-extension/src/commands/internal/navigation.ts
  packages/vscode-extension/src/commands/internal/refresh.ts
  packages/vscode-extension/src/commands/internal/settings-menu.ts
  packages/vscode-extension/src/commands/internal/view-mode.ts
  packages/vscode-extension/src/commands/public/hard-scan.ts
  packages/vscode-extension/src/commands/public/issue-navigation.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/commands/public/show-logs.ts
Due: biome format --write --no-errors-on-unmatched

chore: update docs
  packages/vscode-extension/README.md
  scripts/update-dynamic-fields-in-docs.ts
Due: biome format --write --no-errors-on-unmatched

chore: remove unnecessary content from vscode extension readme
  packages/vscode-extension/README.md
Due: none

chore: testing installation readme
  .github/image/tscanner-install.png
  packages/vscode-extension/README.md
Due: none

chore: update installation instructions
  packages/vscode-extension/README.md
Due: none

refactor: settings menu
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/index.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  scripts/install-local-vscode.ts
Due: biome format --write --no-errors-on-unmatched

fix: local installation for cursor
  scripts/install-local-vscode.ts
Due: biome format --write --no-errors-on-unmatched

refactor: install extension locally
  scripts/install-local-vscode.ts
Due: biome format --write --no-errors-on-unmatched

refactor: sidebar files
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/internal/copy.ts
  packages/vscode-extension/src/commands/internal/view-mode.ts
  packages/vscode-extension/src/commands/public/issue-navigation.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/panel-content.ts
  packages/vscode-extension/src/issues-panel/panel-icon.ts
  packages/vscode-extension/src/issues-panel/utils/tree-builder.ts
  packages/vscode-extension/src/issues-panel/utils/tree-items.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
Due: biome format --write --no-errors-on-unmatched

chore: update image in .github folder
  .github/image/tscanner-vscode-demo.png
Due: none

docs: update readme
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-dynamic-fields-in-docs.ts
Due: biome format --write --no-errors-on-unmatched

chore: update README.md with new images and captions
  README.md
Due: none

chore: update dynamic fields in docs
  README.md
  scripts/update-dynamic-fields-in-docs.ts
Due: biome format --write --no-errors-on-unmatched

style: improve formatting in README.md
  README.md
Due: none

chore: remove vscode extension demo image
  README.md
Due: none

chore: update dynamic fields in docs
  README.md
  packages/vscode-extension/README.md
  scripts/update-dynamic-fields-in-docs.ts
Due: biome format --write --no-errors-on-unmatched

chore: update scripts paths
  .github/actions/release-github-action/action.yml
  .github/actions/release-npm/action.yml
  .github/actions/release-vscode/action.yml
  .github/workflows/callable-ci.yml
  README.md
  package.json
  scripts/instal-local/install-local-cli.ts
  scripts/instal-local/install-local-vscode.ts
  scripts/release/check-version-bump.sh
  scripts/release/create-release-tag.sh
  scripts/release/generate-cli-packages.ts
  scripts/release/publish-github-action.sh
  scripts/release/publish-npm-package.sh
  scripts/update-docs/update-dynamic-fields-in-docs.ts
Due: biome format --write --no-errors-on-unmatched

chore: update documentation files
  packages/cli/README.md
  scripts/update-docs/rules-section.md
  scripts/update-docs/update-commands.ts
  scripts/update-docs/update-default-config.ts
  scripts/update-docs/update-dynamic-fields-in-docs.ts
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

docs: share rules section
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-default-config.ts
  scripts/update-docs/update-dynamic-fields-in-docs.ts
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

chore: update package README files
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

chore: update documentation files
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

docs: update readme
  README.md
  packages/cli/README.md
Due: none

docs: update readme
  .github/image/tscanner-vscode-view-1.png
  .github/image/tscanner-vscode-view-2.png
  .github/image/tscanner-vscode-view-3.png
  .github/image/tscanner-vscode-view-4.png
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-dynamic-fields-in-docs.ts
  scripts/update-docs/update-quick-start.ts
Due: biome format --write --no-errors-on-unmatched

chore: add tscanner-vscode-copy-issues image
  .github/image/tscanner-vscode-copy-issues.png
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/internal/copy.ts
Due: biome format --write --no-errors-on-unmatched

feat: add contributing section
  CONTRIBUTING.md
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/rules-section.md
  scripts/update-docs/update-contributing.ts
  scripts/update-docs/update-dynamic-fields-in-docs.ts
Due: biome format --write --no-errors-on-unmatched

docs: update config section
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
Due: biome format --write --no-errors-on-unmatched

docs: update vscode scan mode section
  .github/image/tscanner-scan-branch.png
  .github/image/tscanner-scan-codebase.png
  packages/vscode-extension/README.md
Due: none

feat: add sharable inspirations section
  package.json
  scripts/update-docs/index.ts
  scripts/update-docs/update-inspirations.ts
Due: biome format --write --no-errors-on-unmatched

docs: update gh action readme
  packages/github-action/README.md
Due: none
