Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add provider-specific error parsing for AI rules
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/claude.rs
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/common.rs
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/gemini.rs
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: show AI rule errors in CLI warnings section
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add errors field to ScanResult and exit with code 1 on AI failures
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
  packages/rust-core/crates/tscanner_types/src/results.rs
  packages/vscode-extension/src/common/lib/copy-utils.ts
  shared/tscanner-common/src/types/results.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: extract render_scan_messages helper and fix errors display
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add AI rules error status and improve scan error handling
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/index.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli_output/src/formatted.rs
  packages/rust-core/crates/tscanner_cli_output/src/types.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
  packages/rust-core/crates/tscanner_types/src/results.rs
  packages/vscode-extension/src/common/lib/copy-utils.ts
  shared/tscanner-common/src/types/cli-output.ts
  shared/tscanner-common/src/types/results.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: add blank line after errors and fix setFailed context
  packages/github-action/dist/index.js
  packages/github-action/src/index.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: update workflow to not continue on error
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

ci: update automated testing configuration
  .tscanner/config.jsonc
Due: npx tsx ./packages/cli/src/main.ts check --staged

ci: update automated testing configuration
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: include ai provider, mode, severity and options in config hash
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: migrate Claude auth to official setup-token method
  .github/workflows/prs.yml
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: update configuration
  .tscanner/config.jsonc
Due: npx tsx ./packages/cli/src/main.ts check --staged

refactor: migrate Gemini auth to official API key method
  .github/workflows/prs.yml
  .tscanner/config.jsonc
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

revert: use Gemini OAuth credentials for better rate limits
  .github/workflows/prs.yml
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: remove test Claude CLI step
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

refactor: align GitHub Action output with CLI format
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/core/shared/formatting.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/core/summary-writer.ts
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: use standard icons and format duration in GitHub Action
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/formatting.ts
  packages/github-action/src/core/shared/sections.ts
  shared/tscanner-common/src/utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: move commit info and timestamp to footer
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/core/summary-writer.ts
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update workflow configuration
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: add changeset
  .changeset/ready-cups-lead.md
  .tscanner/config.jsonc
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: respect continue-on-error input instead of hardcoding true
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: sort issues by count in descending order for all views
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: group scan history severity details with icons
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: convert rule messages to generic format and string unions to enums
  packages/rust-core/crates/tscanner_rules/src/builtin/bug_prevention/no_constant_condition.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/code_quality/max_function_length.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/code_quality/max_params.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/code_quality/no_unused_vars.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/imports/no_duplicate_imports.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/imports/no_forwarded_exports.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/style/prefer_type_over_interface.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/type_safety/no_implicit_any.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/type_safety/no_inferrable_types.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/type_safety/no_single_or_array_union.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/type_safety/no_unnecessary_type_assertion.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/variables/no_shadow.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/variables/prefer_const.rs
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/scan-helpers.ts
  scripts/update-docs/update-images.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

test: update snapshots for generic rule messages
  packages/rust-core/crates/tscanner_rules/tests/specs/max-function-length/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/max-function-length/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/max-params/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/max-params/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-constant-condition/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-constant-condition/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-duplicate-imports/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-duplicate-imports/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-forwarded-exports/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-forwarded-exports/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-implicit-any/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-inferrable-types/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-shadow/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-shadow/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-single-or-array-union/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-unnecessary-type-assertion/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-const/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-const/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-type-over-interface/invalid.ts.snap
Due: npx tsx ./packages/cli/src/main.ts check --staged

feat: add config validation command and LSP integration
  assets/constants.json
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/validate/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/validate/mod.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/mod.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/validate_config.rs
  packages/rust-core/crates/tscanner_lsp/src/server.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/builtin_executor.rs
  packages/vscode-extension/src/common/lib/config-validator.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/requests/types.ts
  packages/vscode-extension/src/lsp/requests/validate-config.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: config error
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  assets/constants.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  packages/rust-core/crates/tscanner_types/src/config.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/types/scan-trigger.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
  shared/tscanner-common/src/types/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: use absolute path for config validation in extension startup
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: scan command
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/config-validator.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: update command function parameters
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/watchers/index.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: remove hardcoded cache flags and use trigger system
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/types/scan-trigger.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/watchers/git/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: scan problems
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_lsp/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_service/src/server.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/types/scan-trigger.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  scripts/update-docs/update-commands.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: improve config validation UX and error handling
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/validate/command.rs
  packages/rust-core/crates/tscanner_cli/src/config_loader.rs
  packages/rust-core/crates/tscanner_cli/src/shared/section.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/helpers.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/validate_config.rs
  packages/rust-core/crates/tscanner_lsp/src/server.rs
  packages/rust-core/crates/tscanner_lsp/src/session.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/vscode-extension/package.json
  packages/vscode-extension/src/common/lib/config-validator.ts
  packages/vscode-extension/src/common/lib/version-checker.ts
  packages/vscode-extension/src/common/lib/version-compatibility.ts
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/issues-panel/components/tree-items.ts
  packages/vscode-extension/src/issues-panel/icons/view-icon.ts
  packages/vscode-extension/src/issues-panel/views/ai-issues-view.ts
  packages/vscode-extension/src/issues-panel/views/base-issues-view.ts
  packages/vscode-extension/src/issues-panel/views/regular-issues-view.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/scanner/utils.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: uncommmitted mode
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan_content.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/uncommitted.rs
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/content-scan.ts
  packages/vscode-extension/src/watchers/file/handler.ts
  shared/tscanner-common/src/types/params.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: enum values
  packages/vscode-extension/src/common/lib/version-compatibility.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add CLI schema version mismatch warning
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add two flags
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_types/src/config.rs
  packages/rust-core/crates/tscanner_types/src/enums.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/extension.ts
  shared/tscanner-common/src/types/config.ts
  shared/tscanner-common/src/types/enums.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: remove silent option
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: commands type safety
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/scan-mode.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/git/handler.ts
  packages/vscode-extension/src/watchers/interval-watcher.ts
  turbo.jsonc
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add startupScan and startupAiScan config defaults from constants.json
  .tscanner/config.jsonc
  assets/constants.json
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_constants/Cargo.toml
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  packages/rust-core/crates/tscanner_types/Cargo.toml
  packages/rust-core/crates/tscanner_types/src/config.rs
  packages/rust-core/crates/tscanner_types/src/enums.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
