Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

chore: update README files in packages
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome format --write --no-errors-on-unmatched

docs: update motivation section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome format --write --no-errors-on-unmatched

docs: update motivations section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome format --write --no-errors-on-unmatched

docs: add FAQ
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome format --write --no-errors-on-unmatched

docs: fix arrows
  README.md
  docs/core/02-rule-system.md
  docs/core/03-scanner-flow.md
  docs/core/04-caching.md
  docs/core/05-server-protocol.md
  docs/core/guides/adding-new-rule.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome format --write --no-errors-on-unmatched

fix: test errors
  packages/core/crates/core/tests/integration_glob_tests.rs
Due: sh -c 'cd packages/core && cargo fmt'

feat: add all rules flag for init command
  .tscanner/config.jsonc
  packages/core/crates/cli/src/commands/init.rs
  packages/core/crates/cli/src/main.rs
Due: sh -c 'cd packages/core && cargo fmt'

fix: cli schema generation
  .tscanner/config.jsonc
  packages/cli/schema.json
  packages/core/crates/core/src/bin/generate_schema.rs
  packages/core/crates/core/src/config.rs
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: add cli info generation
  .tscanner/config.jsonc
  assets/cli.json
  packages/core/crates/cli/Cargo.toml
  packages/core/crates/cli/src/bin/generate_cli_json.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/core/package.json
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

docs: update cli commands table automatically
  packages/cli/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-cli-usage.ts
Due: biome format --write --no-errors-on-unmatched

feat: add cli options to config file
  .tscanner/config.jsonc
  README.md
  assets/cli.json
  assets/default-config.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/cli/src/commands/check.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/lib.rs
  packages/core/crates/core/src/scanner.rs
  packages/core/crates/core/src/types.rs
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/internal/copy.ts
  shared/tscanner-common/src/schemas.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: old name
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-footer.ts
Due: biome format --write --no-errors-on-unmatched

refactor: check command
  packages/core/crates/cli/src/commands/check.rs
  packages/core/crates/cli/src/commands/check/context.rs
  packages/core/crates/cli/src/commands/check/filters.rs
  packages/core/crates/cli/src/commands/check/git.rs
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/json.rs
  packages/core/crates/cli/src/commands/check/output/mod.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/main.rs
  packages/core/crates/cli/src/shared/mod.rs
  packages/core/crates/cli/src/shared/summary.rs
  packages/core/crates/cli/src/shared/types.rs
Due: sh -c 'cd packages/core && cargo fmt'

refactor: cli code
  packages/core/crates/cli/src/commands/init/config_generator.rs
  packages/core/crates/cli/src/commands/init/mod.rs
  packages/core/crates/cli/src/commands/rules.rs
  packages/core/crates/cli/src/commands/rules/mod.rs
  packages/core/crates/cli/src/commands/rules/output.rs
  packages/core/crates/cli/src/commands/rules/types.rs
Due: sh -c 'cd packages/core && cargo fmt'

fix: add missing cli field to test configs
  packages/core/crates/core/tests/integration_glob_tests.rs
Due: sh -c 'cd packages/core && cargo fmt'

debug: add tmpLog to github-action for debugging
  packages/github-action/dist/index.js
  packages/github-action/src/index.ts
Due: biome format --write --no-errors-on-unmatched

fix: build error
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/check/context.rs
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/json.rs
  packages/core/crates/cli/src/commands/check/output/pretty.rs
  packages/core/crates/cli/src/commands/check/output/text.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

docs: update cli table generator
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/bin/generate_cli_json.rs
  scripts/update-docs/index.ts
  scripts/update-docs/update-cli-usage.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: merge cli flags into format command
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/commands/check/output/mod.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

refactor: load defaults from json file
  packages/core/crates/core/src/config.rs
  packages/github-action/dist/index.js
  scripts/instal-local/install-local-cli.ts
  scripts/instal-local/install-local-vscode.ts
  scripts/update-docs/index.ts
  shared/tscanner-common/src/schemas.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

refactor: remove internal flags
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

refactor: rename file to glob
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/internal/copy.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: add staged mode
  .lintstagedrc.json
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/check/git.rs
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: staged mode
  .lintstagedrc.json
  assets/cli.json
  packages/cli/README.md
  packages/core/crates/cli/src/commands/check/filters.rs
  packages/core/crates/cli/src/commands/check/git.rs
  packages/core/crates/cli/src/commands/check/mod.rs
  packages/core/crates/cli/src/lib.rs
  packages/core/crates/cli/src/main.rs
  packages/core/crates/core/src/scanner.rs
  packages/github-action/dist/index.js
  packages/github-action/src/index.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

feat: impro gh action
  packages/github-action/README.md
  packages/github-action/action.yml
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/input-validator.ts
  packages/github-action/src/core/summary-writer.ts
  packages/github-action/src/index.ts
  packages/github-action/src/lib/actions-helper.ts
Due: biome format --write --no-errors-on-unmatched

chore: update github action
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/summary-writer.ts
Due: biome format --write --no-errors-on-unmatched

chore: add logs
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
Due: biome format --write --no-errors-on-unmatched

fix: annotations
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
  packages/github-action/src/index.ts
Due: biome format --write --no-errors-on-unmatched

fix: ci error
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
Due: biome format --write --no-errors-on-unmatched

fix: ci error
  .github/workflows/prs.yml
Due: none

feat: update comment sections
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
  packages/github-action/src/core/comment-updater.ts
Due: biome format --write --no-errors-on-unmatched

chore: update gh comments
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/shared/formatting.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/core/summary-writer.ts
Due: biome format --write --no-errors-on-unmatched

refactor: update gh action configs
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/shared/formatting.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/core/summary-writer.ts
Due: biome format --write --no-errors-on-unmatched

feat: share same gh action comment
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/shared/formatting.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/core/summary-writer.ts
Due: biome format --write --no-errors-on-unmatched

feat: update summary section
  packages/github-action/dist/index.js
  packages/github-action/src/core/summary-writer.ts
  packages/github-action/src/index.ts
Due: biome format --write --no-errors-on-unmatched

chore: update datetime
  packages/github-action/dist/index.js
  packages/github-action/src/utils/format-timestamp.ts
Due: biome format --write --no-errors-on-unmatched

chore: update summary
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
Due: biome format --write --no-errors-on-unmatched

fix: extra summary section
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/formatting.ts
  packages/github-action/src/core/summary-writer.ts
Due: biome format --write --no-errors-on-unmatched

feat: add pr comment flag
  .github/workflows/prs.yml
  packages/github-action/action.yml
  packages/github-action/dist/index.js
  packages/github-action/src/core/input-validator.ts
  packages/github-action/src/index.ts
Due: biome format --write --no-errors-on-unmatched

chore: remove no-magic-numbers rule
  .tscanner/config.jsonc
  README.md
  assets/rules.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/core/crates/core/src/rules/mod.rs
  packages/core/crates/core/src/rules/no_magic_numbers.rs
  packages/core/crates/core/tests/spec_tests.rs
  packages/core/crates/core/tests/specs/no-magic-numbers/invalid.js
  packages/core/crates/core/tests/specs/no-magic-numbers/invalid.js.snap
  packages/core/crates/core/tests/specs/no-magic-numbers/invalid.ts
  packages/core/crates/core/tests/specs/no-magic-numbers/invalid.ts.snap
  packages/core/crates/core/tests/specs/no-magic-numbers/valid.js
  packages/core/crates/core/tests/specs/no-magic-numbers/valid.js.snap
  packages/core/crates/core/tests/specs/no-magic-numbers/valid.ts
  packages/core/crates/core/tests/specs/no-magic-numbers/valid.ts.snap
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/index.ts
  scripts/update-docs/update-features-section.ts
  scripts/update-docs/update-overview.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

Path conditions:
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  sh -c 'cd packages/core && cargo fmt': any of: packages/core/**/*.rs
