Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: prefer nullish rule
  packages/rust-core/crates/tscanner_rules/src/builtin/style/prefer_nullish_coalescing.rs
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.js
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.js
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.ts.snap
  plan/00-merge-servers-overview.md
  plan/01-extend-lsp-rust.md
  plan/02-migrate-vscode.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

refactor: update async checker logic
  packages/rust-core/crates/tscanner_rules/src/builtin/code_quality/no_async_without_await.rs
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/invalid.js
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/invalid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/valid.js
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/valid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/valid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/no-async-without-await/valid.ts.snap
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: gh action
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: implement step1
  .github/actions/build-rust-binary/action.yml
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
Due: biome check --write --no-errors-on-unmatched, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: implement step2
  packages/vscode-extension/src/locator/global-modules.ts
  packages/vscode-extension/src/locator/index.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/locator/node-modules.ts
  packages/vscode-extension/src/locator/path.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: implement step3
  packages/vscode-extension/src/locator/index.ts
  packages/vscode-extension/src/locator/install-prompt.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/branch-scan.ts
  packages/vscode-extension/src/scanner/client.ts
  packages/vscode-extension/src/scanner/codebase-scan.ts
  packages/vscode-extension/src/scanner/utils.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: implement step4
  .github/actions/prepare-binaries-for-extension/action.yml
  .github/actions/release-vscode/action.yml
  .github/workflows/push-to-main.yml
  packages/vscode-extension/.vscodeignore
Due: none

feat: implement step5
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/lsp/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: extension issue dev mode
  docs/plans/extract-config-validation.md
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/locator/global-modules.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/scanner/client.ts
  scripts/instal-local/install-local-vscode.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: custom scripts
  .tscanner/config.jsonc
  assets/generated/rust_config_fields.json
  packages/cli/schema.json
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/bin/generate_config_fields.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_config/src/validation.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  shared/tscanner-common/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: remove logs
  packages/vscode-extension/src/common/lib/config-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: rust scripts
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_config/Cargo.toml
  packages/rust-core/crates/tscanner_rules/Cargo.toml
  packages/rust-core/scripts/generate_cli_json.rs
  packages/rust-core/scripts/generate_config_fields.rs
  packages/rust-core/scripts/generate_rules_json.rs
  packages/rust-core/scripts/generate_schema.rs
Due: none

refactor: remove server crate
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/src/main.rs
  packages/rust-core/crates/tscanner_server/Cargo.toml
Due: sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: duplicated logic
  .tscanner/config.jsonc
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/config/command.rs
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_service/src/constants.rs
  packages/rust-core/crates/tscanner_service/src/lib.rs
  packages/rust-core/crates/tscanner_service/src/logger.rs
  packages/vscode-extension/src/lsp/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

feat: add extension config
  packages/vscode-extension/src/common/state/extension-config.ts
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/lsp/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove unnecessary content from README files
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: add changeset
  .changeset/neat-times-drum.md
Due: none

fix: extension binary permission for pnpm
  .changeset/frank-worlds-pull.md
  packages/vscode-extension/src/common/lib/binary-utils.ts
  packages/vscode-extension/src/lsp/client.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: add init full mode
  .changeset/commit.js
  README.md
  assets/configs/ai-rule-example.md
  assets/configs/default.json
  assets/configs/full.json
  assets/configs/minimal.json
  assets/configs/script-rule-example.ts
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/rust-core/crates/tscanner_cli/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/lib/config-manager.ts
  scripts/update-docs/update-config-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

fix: tests
  packages/rust-core/crates/tscanner_rules/tests/specs/no-explicit-any/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-implicit-any/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-inferrable-types/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-non-null-assertion/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-single-or-array-union/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-todo-comments/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-todo-comments/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-unnecessary-type-assertion/invalid.ts.snap
Due: none

fix: quick start section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add warning on missing config
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  packages/cli/README.md
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_diagnostics/src/results.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

docs: update readme
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update scripts
  README.md
  assets/configs/default.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_scanner/src/ai_providers/common.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty'

chore: update docs
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-config-section.ts
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update order
  README.md
Due: none

chore: update README files in packages
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove use cases
  packages/cli/README.md
Due: none

docs: update readme
  packages/github-action/README.md
Due: none

chore: update documentation links in README.md and cli/README.md
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

update: config
  .github/image/tscanner-pr-comment-issues-found.png
  .tscanner/config.jsonc
  packages/cli/README.md
Due: none

chore: update images
  .github/image/tscanner-vscode-demo.png
Due: none

refactor: update motivation section
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update motivation
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-motivation.ts
  scripts/update-docs/update-ways-to-use-tscanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: script rule
  .tscanner/scripts/readme-toc-match.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add support for ai rules in gh action
  packages/github-action/README.md
  packages/github-action/action.yml
  packages/github-action/dist/index.js
  packages/github-action/src/core/input-validator.ts
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update ci workflow for ai rules
  .github/workflows/prs.yml
Due: none

chore: add logs
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/index.ts
  packages/github-action/src/lib/actions-helper.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *.{ts,tsx,js,jsx}
  sh -c 'cd packages/rust-core && cargo fmt && cargo clippy --fix --allow-dirty': any of: packages/rust-core/crates/**/*.rs
