Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

fix: turbo error
  packages/cli/scripts/install-local.ts
  packages/vscode-extension/scripts/install-local.ts
Due: biome format --write --no-errors-on-unmatched

chore: add logs
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/sidebar/search-provider.ts
  packages/vscode-extension/src/sidebar/tree-builder.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write --no-errors-on-unmatched

docs: update readme
  packages/github-action/README.md
Due: none

chore: update ci workflow
  .github/workflows/sync-action.yml
Due: none

docs: update readme
  .github/image/vscode-demo.png
  README.md
Due: none

docs: update readme
  .github/workflows/prs.yml
  packages/cli/README.md
  packages/core/README.md
  packages/vscode-extension/README.md
Due: none

docs: update readme
  .github/image/pr-comment-errors-found.png
  .github/image/vscode-demo.png
  README.md
  packages/github-action/action.yml
Due: none

docs: update readme
  .github/image/cli-demo.png
  .github/image/logo.png
  .github/image/logo.svg
  packages/cli/README.md
Due: none

docs: update readme
  .github/workflows/prs.yml
  packages/vscode-extension/README.md
Due: none

docs: update readme
  .github/workflows/sync-action.yml
  packages/cli/README.md
  packages/github-action/LICENSE
  packages/github-action/README.md
Due: none

docs: update readme
  packages/core/README.md
Due: none

docs: update readme
  README.md
  packages/vscode-extension/README.md
Due: none

docs: update readme
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

feat: add support to jsonc
  .tscanner/config.jsonc
  README.md
  packages/cli/README.md
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/README.md
  packages/core/crates/cli/README.md
  packages/core/crates/cli/src/main.rs
  packages/core/crates/core/Cargo.toml
  packages/core/crates/core/src/config.rs
  packages/core/crates/core/src/constants.rs
  packages/core/crates/server/src/handlers/scan.rs
  packages/core/crates/server/src/handlers/scan_content.rs
  packages/github-action/README.md
  packages/github-action/action.yml
  packages/github-action/dist/index.js
  packages/github-action/src/constants.ts
  packages/github-action/src/index.ts
  packages/github-action/src/utils/config-validator.ts
  packages/vscode-extension/README.md
  packages/vscode-extension/esbuild.config.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

chore: update images for vscode extension
  .github/image/logo.png
  .github/image/logo.svg
  packages/vscode-extension/resources/icon.png
  packages/vscode-extension/resources/icon.svg
Due: none

chore: update dependencies
  .github/workflows/push-to-main.yml
  package.json
  scripts/cli-publisher.sh
  scripts/release.sh
  scripts/vscode-publisher.sh
Due: biome format --write --no-errors-on-unmatched

feat: update version release
  .github/workflows/push-to-main.yml
  .github/workflows/sync-action.yml
  packages/github-action/package.json
  packages/github-action/scripts/postversion.ts
  pnpm-lock.yaml
  scripts/publish-github-action.sh
Due: biome format --write --no-errors-on-unmatched

docs: update readme
  .changeset/tame-ads-behave.md
  packages/github-action/.npmignore
  packages/vscode-extension/src/commands/settings.ts
Due: biome format --write --no-errors-on-unmatched

fix: ci error
  .github/workflows/push-to-main.yml
  packages/github-action/package.json
  packages/github-action/scripts/postversion.ts
  scripts/pre-changesets-github-action.ts
Due: biome format --write --no-errors-on-unmatched

fix: tsc error
  packages/github-action/tsconfig.json
Due: biome format --write --no-errors-on-unmatched

ci: update github action workflow
  .github/workflows/push-to-main.yml
Due: none

ci: update github action workflow
  .github/workflows/push-to-main.yml
  packages/github-action/scripts/pre-changesets.ts
Due: biome format --write --no-errors-on-unmatched

chore: update configuration
  .changeset/commit.js
  .changeset/config.json
  .github/workflows/push-to-main.yml
  packages/github-action/scripts/pre-changesets.ts
Due: biome format --write --no-errors-on-unmatched

chore: update configuration
  .changeset/config.json
Due: biome format --write --no-errors-on-unmatched

chore: update dependencies
  .changeset/clever-badgers-allow.md
  scripts/cli-publisher.sh
Due: none

chore: add strict-teams-wait changeset
  .changeset/strict-teams-wait.md
  packages/github-action/action.yml
Due: none

chore: update dependencies
  .changeset/tough-coats-pick.md
Due: none

fix: tsc error
  .changeset/sparkly-knives-learn.md
  packages/github-action/action.yml
Due: none

docs: update readme
  .github/image/tscanner-cli-demo.png
  .github/image/tscanner-logo.png
  .github/image/tscanner-logo.svg
  .github/image/tscanner-pr-comment-errors-found.png
  .github/image/tscanner-vscode-demo.png
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
Due: none

feat: update github action image
  .changeset/commit.js
  .github/image/tscanner-pr-comment-no-issues.png
  README.md
  packages/cli/README.md
  packages/core/crates/server/src/main.rs
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/scanner.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  packages/vscode-extension/src/extension.ts
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

chore: update docs
  README.md
  packages/cli/README.md
  packages/cli/src/binary-resolver.ts
  packages/core/crates/cli/README.md
  packages/core/package.json
  packages/github-action/action.yml
  packages/github-action/dist/index.js
  packages/vscode-extension/README.md
  scripts/publish-github-action.sh
Due: biome format --write --no-errors-on-unmatched

feat: add support for custom config path
  .tscanner/config.jsonc
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write --no-errors-on-unmatched

chore: show settings conditionally
  packages/vscode-extension/src/commands/settings.ts
Due: biome format --write --no-errors-on-unmatched

fix: badge issue
  packages/vscode-extension/src/commands/find-issue.ts
Due: biome format --write --no-errors-on-unmatched

feat: update extension settings
  .tscanner/config.jsonc
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
Due: biome format --write --no-errors-on-unmatched

fix: config edge cases
  packages/github-action/dist/index.js
  packages/github-action/src/core/input-validator.ts
  packages/vscode-extension/src/commands/copy-issues.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome format --write --no-errors-on-unmatched

chore: update schema
  .changeset/commit.js
  .tscanner/config.jsonc
  README.md
  package.json
  packages/cli/README.md
  packages/core/Cargo.lock
  packages/core/Cargo.toml
  packages/core/crates/cli/README.md
  packages/core/crates/core/src/config.rs
Due: biome format --write --no-errors-on-unmatched, sh -c 'cd packages/core && cargo fmt'

Path conditions:
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  sh -c 'cd packages/core && cargo fmt': any of: packages/core/**/*.rs
