Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["biome check --write --no-errors-on-unmatched"],
  "*.json": ["biome check --write --no-errors-on-unmatched"],
  "*": ["npx tsx ./packages/cli/src/main.ts check --staged"],
  "packages/rust-core/crates/**/*.rs": ["sh -c 'cd packages/rust-core && cargo fmt'"]
}

chore: update dependencies
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-registry.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: types exporting
  .changeset/fuzzy-swans-pull.md
  packages/cli/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: improve schema version mismatch warning message
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: knip issues
  knip.jsonc
  packages/github-action/src/core/cache-handler.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/version-checker.ts
  packages/vscode-extension/src/common/lib/version-compatibility.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/locator/binary-info.ts
  packages/vscode-extension/src/locator/index.ts
  packages/vscode-extension/src/scanner/utils.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: export package.json in cli exports map
  packages/cli/package.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: handle init tscanner config
  .changeset/great-ants-fall.md
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/startup/runner.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: remove emoji from note
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-registry.ts
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update dependencies
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-registry.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update commands
  README.md
  packages/cli/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update readme
  .changeset/new-brooms-jam.md
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-workflow.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: add missing branch and uncommitted fields to Rust ScanContentParams
  packages/rust-core/crates/tscanner_types/src/params.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: update README files in packages
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-registry.ts
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update rules table
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-registry.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update rules table
  .changeset/commit.js
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-registry.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: demo image
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update example rules
  assets/configs/example-find-enum-candidates.md
  assets/configs/example-no-long-files.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: script rule aux functions
  .changeset/strong-crabs-float.md
  packages/cli/package.json
  packages/cli/tsup.config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: add Related section with Knip and Biome tools
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

feat: add related projects section to readme
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add Related section citing Knip and Biome
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add Related section with Knip and Biome
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add Related section with Knip and Biome references
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add related section mentioning knip and biome
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add related section with knip and biome tools
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: remove DYNFIELD tags from Related section
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: expand Related section with more code quality tools
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

docs: add Related section with Knip and Biome to README
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: ignore branch context files
  .gitignore
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: modernize scripts tsconfig
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: fix lint and knip findings
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/vscode-extension/src/startup/runner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat!: remove community-rules registry feature
  .changeset/remove-registry-feature.md
  README.md
  assets/constants.json
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/config_updater.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/fetcher.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/installer.rs
  packages/rust-core/crates/tscanner_cli/src/commands/registry/mod.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  packages/vscode-extension/README.md
  registry/ai-rules/find-enum-candidates/config.jsonc
  registry/ai-rules/find-enum-candidates/prompt.md
  registry/index.json
  registry/regex-rules/no-process-env/config.jsonc
  registry/script-rules/no-empty-files/config.jsonc
  registry/script-rules/no-empty-files/script.py
  registry/script-rules/no-fixme-comments/config.jsonc
  registry/script-rules/no-fixme-comments/script.rs
  registry/script-rules/no-long-files/config.jsonc
  registry/script-rules/no-long-files/script.ts
  scripts/update-docs/index.ts
  scripts/update-docs/update-features-section.ts
  scripts/update-docs/update-registry.ts
  scripts/update-docs/update-rules.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: modernize cli and github-action tsconfigs
  packages/cli/tsconfig.json
  packages/github-action/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: convert long positional signatures to options objects
  packages/github-action/src/core/comment-updater.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/requests/types.ts
  packages/vscode-extension/src/scanner/content-scan.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/file/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: fix no-async-without-await violations
  .changeset/commit.js
  scripts/instal-local/install-local-vscode.ts
  scripts/release/generate-cli-packages.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: fix no-explicit-any violations
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  scripts/release/generate-cli-packages.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: convert interfaces to type aliases in vscode-extension
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/logger.ts
  packages/vscode-extension/src/common/lib/scan-helpers.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: improve error handling in scan-helpers.ts
  packages/vscode-extension/src/common/lib/scan-helpers.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged
