Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: fix no-non-null-assertion violations
  packages/github-action/src/core/scanner/scanner-transforms.ts
  packages/github-action/src/core/shared/sections.ts
  packages/vscode-extension/src/commands/internal/copy-items.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: fix no-shadow violation in annotation-writer
  packages/github-action/src/core/annotation-writer.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat!: remove prefer-nullish-coalescing built-in rule
  .changeset/remove-prefer-nullish-coalescing-rule.md
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  assets/generated/rules.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_rules/src/builtin/style/mod.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/style/prefer_nullish_coalescing.rs
  packages/rust-core/crates/tscanner_rules/tests/spec_tests.rs
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.js
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.js
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.js.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/prefer-nullish-coalescing/valid.ts.snap
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: centralize process.env access via Zod-validated env modules
  .tscanner/config.jsonc
  package.json
  packages/github-action/src/core/cache-handler.ts
  packages/github-action/src/core/cli-executor.ts
  packages/github-action/src/env.ts
  packages/github-action/src/lib/actions-helper.ts
  packages/vscode-extension/esbuild.config.ts
  pnpm-lock.yaml
  scripts/env.ts
  scripts/instal-local/install-local-cli.ts
  scripts/instal-local/install-local-vscode.ts
  scripts/release/generate-cli-packages.ts
  scripts/update-docs/index.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: invoke main() after enum declaration in install-local-vscode script
  scripts/instal-local/install-local-vscode.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: rebuild github-action bundle
  packages/github-action/dist/index.js
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove unused rust constants fields
  packages/rust-core/crates/tscanner_constants/src/constants.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: add node types to cli tsconfig
  packages/cli/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: replace console calls in cli helpers
  packages/cli/src/main.ts
  shared/tscanner-common/src/script-rule.ts
  shared/tscanner-common/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: split long scanner files
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/shared/sections-history.ts
  packages/github-action/src/core/shared/sections.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/header.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/helpers.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/progress.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/targets.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/types.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text/issue.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text/summary.rs
  packages/rust-core/crates/tscanner_constants/src/constants.rs
  packages/rust-core/crates/tscanner_constants/src/constants/model.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext/load.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/parser.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/process.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/prompt.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/rule.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/types.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor/process.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor/types.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared/files.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared/script_content.rs
  packages/rust-core/crates/tscanner_types/src/config.rs
  packages/rust-core/crates/tscanner_types/src/config/defaults.rs
  packages/vscode-extension/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: remove funding information from github
  .github/FUNDING.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

ci: use setup ai provider action
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

ci: update actions to node 24
  .github/actions/setup-and-install/action.yml
  .github/workflows/callable-ci.yml
  .github/workflows/prs.yml
  .github/workflows/push-to-main.yml
  packages/github-action/action.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: resolve tscanner findings
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/ai_runtime.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/helpers.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command/results.rs
  packages/vscode-extension/src/watchers/interval-watcher.ts
  shared/tscanner-common/src/types/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

ci: configure tscanner ai provider
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

feat!: make init create full config
  README.md
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/lib/local-config.ts
  scripts/update-docs/update-quick-start.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: prevent child process pipe deadlocks
  .changeset/prevent-script-pipe-deadlock.md
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/process.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor/process.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat!: remove VS Code config location picker
  .changeset/remove-vscode-config-location.md
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/local-config.ts
  packages/vscode-extension/src/common/state/extension-store.ts
  packages/vscode-extension/src/common/state/workspace-state.ts
  packages/vscode-extension/src/common/types/scan-trigger.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/requests/types.ts
  packages/vscode-extension/src/scanner/content-scan.ts
  packages/vscode-extension/src/scanner/scan.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/startup/runner.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/config-watcher.ts
  packages/vscode-extension/src/watchers/file/handler.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add VS Code settings view
  packages/vscode-extension/package.json
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/public/open-config-files.ts
  packages/vscode-extension/src/commands/public/open-settings-view.ts
  packages/vscode-extension/src/commands/public/refresh-issues.ts
  packages/vscode-extension/src/commands/public/settings-view-actions.ts
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/local-config.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/common/scripts-constants.ts
  packages/vscode-extension/src/common/state/extension-config.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/settings-menu/index.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  packages/vscode-extension/src/settings-view/index.ts
  packages/vscode-extension/src/settings-view/settings-view.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat!: remove no-implicit-any rule
  .changeset/remove-no-implicit-any-rule.md
  .tscanner/config.jsonc
  README.md
  assets/configs/full.json
  assets/generated/rules.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_rules/src/builtin/type_safety/mod.rs
  packages/rust-core/crates/tscanner_rules/src/builtin/type_safety/no_implicit_any.rs
  packages/rust-core/crates/tscanner_rules/tests/spec_tests.rs
  packages/rust-core/crates/tscanner_rules/tests/specs/no-implicit-any/invalid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/no-implicit-any/invalid.ts.snap
  packages/rust-core/crates/tscanner_rules/tests/specs/no-implicit-any/valid.ts
  packages/rust-core/crates/tscanner_rules/tests/specs/no-implicit-any/valid.ts.snap
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: add implicit any ai rule
  .tscanner/ai-rules/no-implicit-any.md
  .tscanner/config.jsonc
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: resolve tscanner rule findings
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor/batch.rs
  packages/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: preserve previous ai findings on refresh
  .changeset/remember-ai-findings.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_lsp/src/custom_requests.rs
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/scan.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/previous_issues.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/prompt.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/rule.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/types.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_types/src/params.rs
  packages/vscode-extension/src/commands/public/refresh-ai-issues.ts
  packages/vscode-extension/src/lsp/client.ts
  packages/vscode-extension/src/lsp/requests/types.ts
  packages/vscode-extension/src/scanner/scan.ts
  shared/tscanner-common/src/types/params.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: centralize enum-like values
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_types/src/enums.rs
  scripts/update-docs/update-images.ts
  scripts/update-docs/update-quick-start.ts
  scripts/update-docs/update-rules.ts
  shared/tscanner-common/src/constants.ts
  shared/tscanner-common/src/types/enums.ts
  shared/tscanner-common/src/types/metadata.ts
  shared/tscanner-common/src/utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: satisfy clippy ai rule args
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/rule.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/types.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: simplify vscode status bar label
  .changeset/fix-vscode-status-bar-label.md
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/status-bar/status-bar-manager.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

feat: add cli shell completions
  .changeset/add-cli-completions.md
  assets/constants.json
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/dist/index.js
  packages/rust-core/Cargo.lock
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/cli.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/scripts/generate_cli_json.rs
  packages/vscode-extension/src/locator/locator.ts
  packages/vscode-extension/src/locator/path.ts
  scripts/env.ts
  scripts/instal-local/install-local-cli.ts
  scripts/update-docs/update-cli-usage.ts
  shared/tscanner-common/src/constants.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

ci: split pr validation workflow
  .github/workflows/callable-ci.yml
  .github/workflows/prs.yml
  .github/workflows/push-to-main.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

Simplify AI rule sources
  .tscanner/ai-rules/find-enum-candidates.md
  .tscanner/ai-rules/no-dead-code.md
  .tscanner/ai-rules/no-implicit-any.md
  .tscanner/config.jsonc
  .tscanner/script-rules/config-schema-match.ts
  .tscanner/script-rules/types-parity-match.ts
  README.md
  assets/configs/example-find-enum-candidates.md
  assets/configs/full.json
  assets/configs/minimal.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/commands/init/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/init/config_generator.rs
  packages/rust-core/crates/tscanner_config/Cargo.toml
  packages/rust-core/crates/tscanner_config/src/ai_rule_sources.rs
  packages/rust-core/crates/tscanner_config/src/ai_rules_validator.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/loader.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_config/src/validation.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/parser.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/prompt.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor/rule.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/rust-core/crates/tscanner_types/src/config.rs
  packages/rust-core/crates/tscanner_types/src/config/defaults.rs
  packages/rust-core/scripts/generate_schema.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/status-bar/status-bar-tooltip.ts
  packages/vscode-extension/src/watchers/file/watch-pattern-builder.ts
  shared/tscanner-common/src/types/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: harden AI rule imports
  .changeset/provider-style-ai-rules.md
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/ai_rule_sources.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext.rs
  packages/rust-core/crates/tscanner_scanner/src/config_ext/load.rs
  packages/rust-core/crates/tscanner_types/src/config.rs
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: run script rules with command args
  .changeset/script-rules-command-args.md
  README.md
  assets/configs/example-no-long-files.ts
  assets/configs/full.json
  packages/cli/README.md
  packages/cli/src/types.ts
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor/batch.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor/process.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
  packages/vscode-extension/README.md
  shared/tscanner-common/src/index.ts
  shared/tscanner-common/src/script-rule.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
