Repository lucasvtiradentes/tscanner: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: improve speed
  packages/github-action/dist/index.js
  packages/github-action/src/core/cli-executor.ts
  packages/github-action/src/core/scanner.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove logs
  packages/github-action/dist/index.js
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/index.ts
  packages/github-action/src/lib/actions-helper.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: reuse types
  packages/github-action/src/core/scanner.ts
  shared/tscanner-common/src/schemas/other.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: split scanner
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
  packages/github-action/src/core/comment-updater.ts
  packages/github-action/src/core/scanner.ts
  packages/github-action/src/core/scanner/scanner-logger.ts
  packages/github-action/src/core/scanner/scanner-transforms.ts
  packages/github-action/src/core/scanner/scanner.ts
  packages/github-action/src/core/shared/sections.ts
  packages/github-action/src/core/summary-writer.ts
  packages/github-action/src/index.ts
  shared/tscanner-common/src/schemas/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

docs: update readme
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: test gemini on ci
  .tscanner/config.jsonc
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  .github/workflows/prs.yml
  packages/github-action/README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  packages/github-action/dist/index.js
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner-transforms.ts
  packages/github-action/src/core/shared/sections.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ci error
  packages/github-action/dist/index.js
  packages/github-action/src/core/scanner/scanner-logger.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: ai issues
  packages/github-action/dist/index.js
  packages/github-action/src/core/annotation-writer.ts
  packages/github-action/src/core/scanner/scanner-logger.ts
  packages/github-action/src/core/scanner/scanner-transforms.ts
  packages/github-action/src/core/shared/sections.ts
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

refactor: cli summary
  .changeset/lemon-bikes-tickle.md
  .tscanner/config.jsonc
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_cli/src/shared/summary.rs
  packages/rust-core/crates/tscanner_diagnostics/src/results.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/lib.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/mod.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add detection of AI provider in workflow
  .github/workflows/prs.yml
Due: npx tsx ./packages/cli/src/main.ts check --staged

fix: copy issues
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/vscode-extension/src/common/lib/copy-utils.ts
  packages/vscode-extension/src/lsp/client.ts
  shared/tscanner-common/src/schemas/other.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: ai rules for branch mode
  packages/rust-core/crates/tscanner_scanner/src/scanner/shared.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: cli icons
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/branch.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/codebase.rs
  packages/rust-core/crates/tscanner_scanner/src/scanner/staged.rs
  packages/vscode-extension/src/issues-panel/views/ai-issues-view.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add config validation
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: remove config command
  assets/generated/cli.json
  packages/cli/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/config/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/config/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/mod.rs
  packages/rust-core/crates/tscanner_cli/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: remove unnecessary content from README.md
  README.md
Due: npx tsx ./packages/cli/src/main.ts check --staged

chore: update README files with spacing
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  scripts/update-docs/update-rules.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove cli options from config file
  .tscanner/config.jsonc
  README.md
  assets/configs/default.json
  assets/configs/full.json
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/context.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/pretty.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/lib.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_config/src/validation.rs
  packages/vscode-extension/README.md
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: cli format
  assets/generated/cli.json
  packages/cli/README.md
  packages/github-action/dist/index.js
  packages/github-action/src/core/cli-executor.ts
  packages/github-action/src/core/scanner/scanner.ts
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/json.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/pretty.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/renderer.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/lib.rs
  packages/rust-core/crates/tscanner_cli/src/main.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_diagnostics/src/formatter.rs
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: update summary
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/shared/summary.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: outputs
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/context.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/json.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/mod.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/renderer.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/shared/mod.rs
  packages/rust-core/crates/tscanner_cli/src/shared/summary.rs
  packages/rust-core/crates/tscanner_cli/src/shared/types.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

feat: add new script rule
  .tscanner/config.jsonc
  .tscanner/scripts/no-long-files.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: share output logic
  packages/rust-core/Cargo.lock
  packages/rust-core/Cargo.toml
  packages/rust-core/crates/tscanner_cli/Cargo.toml
  packages/rust-core/crates/tscanner_cli/src/commands/check/command.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/json.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/renderer.rs
  packages/rust-core/crates/tscanner_cli/src/commands/check/output/text.rs
  packages/rust-core/crates/tscanner_cli/src/shared/header.rs
  packages/rust-core/crates/tscanner_cli/src/shared/mod.rs
  packages/rust-core/crates/tscanner_cli/src/shared/summary.rs
  packages/rust-core/crates/tscanner_diagnostics/src/formatter.rs
  packages/rust-core/crates/tscanner_diagnostics/src/lib.rs
  packages/rust-core/crates/tscanner_lsp/Cargo.toml
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/format_results.rs
  packages/rust-core/crates/tscanner_output/Cargo.toml
  packages/rust-core/crates/tscanner_output/src/formatted.rs
  packages/rust-core/crates/tscanner_output/src/lib.rs
  packages/rust-core/crates/tscanner_output/src/plain_text.rs
  packages/rust-core/crates/tscanner_output/src/types.rs
Due: npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

fix: lines error
  packages/vscode-extension/src/common/lib/copy-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: share copy issues logic
  packages/rust-core/crates/tscanner_lsp/src/handlers/custom/format_results.rs
  packages/vscode-extension/src/common/lib/copy-utils.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

chore: remove manage rules from vscode
  README.md
  packages/cli/README.md
  packages/github-action/README.md
  packages/vscode-extension/README.md
  packages/vscode-extension/src/commands/index.ts
  packages/vscode-extension/src/commands/public/scan-workspace.ts
  packages/vscode-extension/src/common/lib/vscode-utils.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/index.ts
  packages/vscode-extension/src/settings-menu/manage-rules.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
  scripts/update-docs/update-config-section.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove open config option
  packages/vscode-extension/README.md
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: remove config option
  packages/vscode-extension/src/settings-menu/config-location.ts
  packages/vscode-extension/src/settings-menu/open-settings-menu.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

chore: update custom config logic
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: simplify logic
  packages/vscode-extension/src/settings-menu/config-location.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: knip issues
  packages/vscode-extension/src/common/lib/config-manager.ts
  packages/vscode-extension/src/common/lib/copy-utils.ts
  packages/vscode-extension/src/settings-menu/config-location.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

fix: custom config
  packages/vscode-extension/src/settings-menu/config-location.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged

refactor: update time configs
  .tscanner/config.jsonc
  README.md
  assets/configs/default.json
  assets/configs/full.json
  assets/configs/minimal.json
  examples/script-rule-docker-best-practices/config.jsonc
  examples/script-rule-package-json-check/config.jsonc
  packages/cli/README.md
  packages/cli/schema.json
  packages/github-action/README.md
  packages/github-action/dist/index.js
  packages/rust-core/crates/tscanner_config/src/defaults.rs
  packages/rust-core/crates/tscanner_config/src/types.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/ai_executor.rs
  packages/rust-core/crates/tscanner_scanner/src/executors/script_executor.rs
  packages/vscode-extension/README.md
  packages/vscode-extension/src/watchers/ai-scan-interval-watcher.ts
  packages/vscode-extension/src/watchers/scan-interval-watcher.ts
  scripts/update-docs/update-rules.ts
  shared/tscanner-common/src/schemas/config.ts
Due: biome check --write --no-errors-on-unmatched, npx tsx ./packages/cli/src/main.ts check --staged, sh -c 'cd packages/rust-core && cargo fmt'

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  npx tsx ./packages/cli/src/main.ts check --staged: any of: *
  sh -c 'cd packages/rust-core && cargo fmt': any of: packages/rust-core/crates/**/*.rs
